Repository nihalgonsalves/expenses: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, shared

fix: return something for the service worker query function
  packages/frontend/src/registerSW.tsx
Due: frontend

ui: make drawer darken theme color
  packages/frontend/src/components/form/ResponsiveDialog.tsx
  packages/frontend/src/components/ui/drawer.tsx
  packages/frontend/src/pages/Root.tsx
  packages/frontend/src/state/theme.ts
Due: frontend

chore: also sync theme color when stale
  packages/frontend/src/pages/Root.tsx
Due: frontend

ui: update reload button
  packages/frontend/src/registerSW.tsx
Due: frontend

fix: calculate darken theme from an atom instead
  packages/frontend/src/components/form/ResponsiveDialog.tsx
  packages/frontend/src/pages/Root.tsx
  packages/frontend/src/state/theme.ts
Due: frontend

feat: use all the dialogs
  packages/backend/vitest.config.ts
  packages/e2e/package.json
  packages/e2e/tests/sheet.spec.ts
  packages/e2e/tests/transaction.spec.ts
  packages/frontend/package.json
  packages/frontend/src/api/usePullToRefresh.tsx
  packages/frontend/src/components/NewSheetDialog.tsx
  packages/frontend/src/components/expenses/QuickCreateTransactionFAB.tsx
  packages/frontend/src/components/form/ResponsiveDialog.tsx
  packages/frontend/src/components/group-sheets/CreateGroupForm.tsx
  packages/frontend/src/components/group-sheets/CreateGroupSheetTransactionDialog.tsx
  packages/frontend/src/components/group-sheets/GroupSheetTransactionsDenseList.tsx
  packages/frontend/src/components/group-sheets/SettlementForm.tsx
  packages/frontend/src/components/group-sheets/TransactionForm.tsx
  packages/frontend/src/components/personal-sheets/CreatePersonalTransactionDialog.tsx
  packages/frontend/src/components/personal-sheets/CreateSheetForm.tsx
  packages/frontend/src/components/personal-sheets/EditPersonalTransactionForm.tsx
  packages/frontend/src/components/personal-sheets/PersonalSheet.tsx
  packages/frontend/src/components/personal-sheets/PersonalSheetTransactionsExpandedList.tsx
  packages/frontend/src/components/ui/form.tsx
  packages/frontend/src/pages/SheetsIndexPage.tsx
  packages/frontend/src/pages/groups/GroupDetailPage.tsx
  packages/frontend/src/pages/groups/transactions/GroupTransactionsIndexPage.tsx
  packages/frontend/src/pages/groups/transactions/NewGroupSheetTransactionPage.tsx
  packages/frontend/src/pages/sheets/NewSheetPage.tsx
  packages/frontend/src/pages/sheets/SheetDetailPage.tsx
  packages/frontend/src/pages/sheets/transactions/EditPersonalSheetTransactionPage.tsx
  packages/frontend/src/pages/sheets/transactions/NewPersonalSheetTransactionPage.tsx
  packages/frontend/src/pages/sheets/transactions/PersonalTransactionsIndexPage.tsx
  packages/frontend/src/router.tsx
  packages/frontend/vitest.config.ts
  packages/shared/src/simplifyBalances.test.ts
  packages/shared/vitest.config.ts
  yarn.lock
Due: backend, frontend, shared

fix: simplify global dialog handling
  packages/frontend/package.json
  packages/frontend/src/api/usePullToRefresh.tsx
  packages/frontend/src/components/form/ResponsiveDialog.tsx
  packages/frontend/src/components/group-sheets/CreateGroupForm.tsx
  packages/frontend/src/components/group-sheets/SettlementForm.tsx
  packages/frontend/src/components/group-sheets/TransactionForm.tsx
  packages/frontend/src/components/personal-sheets/CreatePersonalTransactionDialog.tsx
  packages/frontend/src/components/personal-sheets/CreateSheetForm.tsx
  packages/frontend/src/components/personal-sheets/EditPersonalTransactionForm.tsx
  packages/frontend/src/state/theme.ts
  yarn.lock
Due: frontend

fix: slot ref error
  packages/frontend/src/components/FloatingActionButton.tsx
Due: frontend

ux: replace sheet list floating create button
  packages/e2e/tests/sheet.spec.ts
  packages/frontend/src/components/NewSheetDialog.tsx
  packages/frontend/src/components/SheetsList.tsx
  packages/frontend/src/pages/SheetsIndexPage.tsx
Due: frontend

refactor: use honojs
  packages/backend/package.json
  packages/backend/src/BullBoardHonoAdapter.ts
  packages/backend/src/app.ts
  packages/backend/src/context.ts
  packages/backend/src/pwaRouter.ts
  yarn.lock
Due: backend

refactor: switch to upstream bullboard hono
  packages/backend/package.json
  packages/backend/src/BullBoardHonoAdapter.ts
  packages/backend/src/app.ts
  yarn.lock
Due: backend

chore: preload quick transaction query
  packages/frontend/src/api/usePrefetchQueries.ts
Due: frontend

chore: add config query for site name
  packages/backend/src/router.ts
  packages/frontend/src/pages/Root.tsx
Due: backend, frontend

chore: print localhost address on backend
  packages/backend/src/app.ts
Due: backend

ui: limit auth form width
  packages/frontend/src/pages/AuthenticationPage.tsx
Due: frontend

chore: add prettier-plugin-tailwindcss
  .prettierrc.mjs
  package.json
  packages/frontend/src/components/AllUserTransactionsList.tsx
  packages/frontend/src/components/Avatar.tsx
  packages/frontend/src/components/CategoryAvatar.tsx
  packages/frontend/src/components/CategoryStats.tsx
  packages/frontend/src/components/NavBarAvatar.tsx
  packages/frontend/src/components/SheetsList.tsx
  packages/frontend/src/components/expenses/QuickCreateTransactionFAB.tsx
  packages/frontend/src/components/group-sheets/BalanceSummary.tsx
  packages/frontend/src/components/personal-sheets/PersonalTransactionsImporter.tsx
  packages/frontend/src/components/settings/AppearanceForm.tsx
  packages/frontend/src/components/settings/IconPreview.tsx
  packages/frontend/src/components/ui/alert-dialog.tsx
  packages/frontend/src/components/ui/command.tsx
  packages/frontend/src/components/ui/dialog.tsx
  packages/frontend/src/components/ui/drawer.tsx
  packages/frontend/src/components/ui/dropdown-menu.tsx
  packages/frontend/src/components/ui/form.tsx
  packages/frontend/src/components/ui/navigation-menu.stories.tsx
  packages/frontend/src/components/ui/navigation-menu.tsx
  packages/frontend/src/components/ui/popover.tsx
  packages/frontend/src/components/ui/scroll-area.tsx
  packages/frontend/src/components/ui/select.tsx
  packages/frontend/src/components/ui/separator.stories.tsx
  packages/frontend/src/components/ui/separator.tsx
  packages/frontend/src/components/ui/switch.tsx
  packages/frontend/src/components/ui/tabs.tsx
  packages/frontend/src/pages/AuthenticationPage.tsx
  packages/frontend/src/pages/Root.tsx
  yarn.lock
Due: frontend

ui: improve not found page
  packages/frontend/src/pages/NotFoundPage.tsx
Due: frontend

ui: improve sign in/up responsiveness
  packages/frontend/src/components/AuthenticationForm.tsx
  packages/frontend/src/pages/AuthenticationPage.tsx
Due: frontend

fix: hide appearance form when logged out
  packages/frontend/src/components/settings/TroubleshootingForm.tsx
  packages/frontend/src/pages/SettingsPage.tsx
Due: frontend

chore: add .git-blame-ignore-revs [skip ci]
  .git-blame-ignore-revs
Due: none

chore: dedupe
  yarn.lock
Due: none

feat: implement password reset
  .github/workflows/build.yml
  compose.dev.yaml
  compose.local.yaml
  compose.yaml
  packages/backend/bin/prepare-ci-e2e.mjs
  packages/backend/package.json
  packages/backend/prisma/migrations/20240108193842_add_user_email_verified/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/config.ts
  packages/backend/src/context.test.ts
  packages/backend/src/context.ts
  packages/backend/src/router.ts
  packages/backend/src/service/user/router.test.ts
  packages/backend/src/service/user/router.ts
  packages/backend/src/service/user/service.ts
  packages/backend/src/service/user/utils.test.ts
  packages/backend/src/service/user/utils.ts
  packages/backend/test/getTRPCCaller.ts
  packages/e2e/package.json
  packages/e2e/tests/auth.spec.ts
  packages/e2e/tests/sheet.spec.ts
  packages/e2e/tests/transaction.spec.ts
  packages/e2e/utils/env.ts
  packages/e2e/utils/misc.ts
  packages/e2e/utils/test.ts
  packages/frontend/src/components/AuthenticationForm.tsx
  packages/frontend/src/components/ResetPasswordForm.tsx
  packages/frontend/src/components/SignInForm.tsx
  packages/frontend/src/components/SignUpForm.tsx
  packages/frontend/src/components/settings/ProfileForm.tsx
  packages/frontend/src/components/ui/form.stories.tsx
  packages/frontend/src/pages/AuthenticationPage.tsx
  packages/frontend/src/pages/ResetPasswordPage.tsx
  packages/frontend/src/router.tsx
  packages/shared/package.json
  packages/shared/src/routes.ts
  packages/shared/src/types/user.ts
  yarn.lock
Due: backend, frontend, shared

feat: implement password reset (#89)
  .github/workflows/build.yml
  compose.dev.yaml
  compose.local.yaml
  compose.yaml
  packages/backend/bin/prepare-ci-e2e.mjs
  packages/backend/package.json
  packages/backend/prisma/migrations/20240108193842_add_user_email_verified/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/config.ts
  packages/backend/src/context.test.ts
  packages/backend/src/context.ts
  packages/backend/src/router.ts
  packages/backend/src/service/user/router.test.ts
  packages/backend/src/service/user/router.ts
  packages/backend/src/service/user/service.ts
  packages/backend/src/service/user/utils.test.ts
  packages/backend/src/service/user/utils.ts
  packages/backend/test/getTRPCCaller.ts
  packages/e2e/package.json
  packages/e2e/tests/auth.spec.ts
  packages/e2e/tests/sheet.spec.ts
  packages/e2e/tests/transaction.spec.ts
  packages/e2e/utils/env.ts
  packages/e2e/utils/misc.ts
  packages/e2e/utils/test.ts
  packages/frontend/src/components/AuthenticationForm.tsx
  packages/frontend/src/components/ResetPasswordForm.tsx
  packages/frontend/src/components/SignInForm.tsx
  packages/frontend/src/components/SignUpForm.tsx
  packages/frontend/src/components/settings/ProfileForm.tsx
  packages/frontend/src/components/ui/form.stories.tsx
  packages/frontend/src/pages/AuthenticationPage.tsx
  packages/frontend/src/pages/ResetPasswordPage.tsx
  packages/frontend/src/router.tsx
  packages/shared/package.json
  packages/shared/src/routes.ts
  packages/shared/src/types/user.ts
  yarn.lock
Due: backend, frontend, shared

fix: serve manifest correctly
  packages/backend/src/pwaRouter.ts
  packages/e2e/tests/pwa.spec.ts
Due: backend

refactor: rename to match exports/organisation
  packages/backend/src/app.ts
  packages/backend/src/appRouter.test.ts
  packages/backend/src/appRouter.ts
  packages/backend/src/context.ts
  packages/backend/src/index.ts
  packages/backend/src/service/notification/NotificationDispatchWorker.ts
  packages/backend/src/service/notification/NotificationService.test.ts
  packages/backend/src/service/notification/NotificationService.ts
  packages/backend/src/service/notification/notificationRouter.test.ts
  packages/backend/src/service/notification/notificationRouter.ts
  packages/backend/src/service/sheet/SheetService.test.ts
  packages/backend/src/service/sheet/SheetService.ts
  packages/backend/src/service/sheet/sheetRouter.test.ts
  packages/backend/src/service/sheet/sheetRouter.ts
  packages/backend/src/service/transaction/TransactionScheduleWorker.test.ts
  packages/backend/src/service/transaction/TransactionScheduleWorker.ts
  packages/backend/src/service/transaction/TransactionService.test.ts
  packages/backend/src/service/transaction/TransactionService.ts
  packages/backend/src/service/transaction/transactionRouter.test.ts
  packages/backend/src/service/transaction/transactionRouter.ts
  packages/backend/src/service/user/UserService.ts
  packages/backend/src/service/user/userRouter.test.ts
  packages/backend/src/service/user/userRouter.ts
  packages/backend/src/startWorkers.ts
  packages/backend/test/getTRPCCaller.ts
  packages/backend/test/webPushUtils.ts
Due: backend

refactor: use worker for sending emails
  packages/backend/src/config.ts
  packages/backend/src/context.ts
  packages/backend/src/service/email/EmailWorker.ts
  packages/backend/src/service/transaction/TransactionService.ts
  packages/backend/src/service/user/UserService.ts
  packages/backend/src/service/user/userRouter.test.ts
  packages/backend/src/startWorkers.ts
  packages/backend/test/FakeEmailWorker.ts
  packages/backend/test/getTRPCCaller.ts
Due: backend

fix: reset password reset token on update/login
  packages/backend/src/service/user/UserService.ts
  packages/backend/src/service/user/userRouter.test.ts
Due: backend

feat: implement email verification
  packages/backend/src/service/email/EmailWorker.ts
  packages/backend/src/service/user/UserService.ts
  packages/backend/src/service/user/userRouter.test.ts
  packages/backend/src/service/user/userRouter.ts
  packages/backend/src/service/user/utils.ts
  packages/e2e/tests/auth.spec.ts
  packages/frontend/src/components/VerifyEmailForm.tsx
  packages/frontend/src/components/settings/ProfileForm.tsx
  packages/frontend/src/pages/VerifyEmailPage.tsx
  packages/frontend/src/router.tsx
  packages/shared/src/routes.ts
Due: backend, frontend, shared

refactor: add ZCurrencyCode type
  packages/backend/src/service/frankfurter/currencyConversionRouter.ts
  packages/frontend/src/state/preferences.ts
  packages/shared/src/money.ts
  packages/shared/src/types/sheet.ts
  packages/shared/src/types/transaction.ts
Due: backend, frontend, shared

feat: add version info and version-cache-buster
  infra/Dockerfile-backend
  infra/Dockerfile-frontend
  packages/backend/src/config.ts
  packages/frontend/package.json
  packages/frontend/src/api/TrpcProvider.tsx
  packages/frontend/src/components/settings/TroubleshootingForm.tsx
  packages/frontend/src/config.ts
Due: backend, frontend

chore: cache bust closer to running
  infra/Dockerfile-backend
  infra/Dockerfile-frontend
Due: none

infra(fe): add sentry
  README.md
  infra/Dockerfile-backend
  infra/Dockerfile-frontend
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/ErrorBoundary.tsx
  packages/frontend/src/components/settings/TroubleshootingForm.tsx
  packages/frontend/src/config.ts
  packages/frontend/src/pages/groups/GroupDetailPage.tsx
  packages/frontend/src/pages/groups/transactions/GroupTransactionsIndexPage.tsx
  packages/frontend/src/pages/sheets/SheetDetailPage.tsx
  packages/frontend/src/pages/sheets/SheetImportPage.tsx
  packages/frontend/src/pages/sheets/transactions/PersonalTransactionsIndexPage.tsx
  packages/frontend/src/routes.tsx
  packages/frontend/vite.config.ts
  yarn.lock
Due: frontend

infra(be): add sentry
  compose.yaml
  infra/Dockerfile-backend
  packages/backend/bin/bundle.mjs
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/config.ts
  packages/backend/src/trpc.ts
  yarn.lock
Due: backend

chore: add sentry release sha [skip ci]
  packages/backend/src/app.ts
Due: backend

ui: use tabular-nums for currency
  packages/frontend/src/components/AllUserTransactionsList.tsx
  packages/frontend/src/components/CategoryStats.tsx
  packages/frontend/src/components/CurrencySpan.tsx
  packages/frontend/src/components/form/MoneyField.tsx
  packages/frontend/src/components/group-sheets/BalanceSummary.tsx
  packages/frontend/src/components/group-sheets/GroupSheetTransactionsDenseList.tsx
  packages/frontend/src/components/group-sheets/GroupSheetTransactionsExpandedList.tsx
  packages/frontend/src/components/group-sheets/TransactionForm.tsx
  packages/frontend/src/components/personal-sheets/CreatePersonalTransactionDialog.tsx
  packages/frontend/src/components/personal-sheets/EditPersonalTransactionForm.tsx
  packages/frontend/src/components/personal-sheets/PersonalSheetTransactionsExpandedList.tsx
  packages/frontend/src/components/personal-sheets/PersonalTransactionsImporter.tsx
Due: frontend

ux: audit forms for correct input mode / autofocus
  packages/frontend/src/components/form/CategorySelect.tsx
  packages/frontend/src/components/form/CurrencySelect.tsx
  packages/frontend/src/components/group-sheets/CreateGroupForm.tsx
  packages/frontend/src/components/group-sheets/SettlementForm.tsx
  packages/frontend/src/components/personal-sheets/CreateSheetForm.tsx
Due: frontend

deps: upgrade trpc v11 (beta), react query v5
  .github/dependabot.yml
  package.json
  packages/backend/package.json
  packages/backend/src/context.ts
  packages/backend/src/trpc.ts
  packages/e2e/package.json
  packages/e2e/tests/auth.spec.ts
  packages/e2e/tsconfig.json
  packages/frontend/package.json
  packages/frontend/src/api/TrpcProvider.tsx
  packages/frontend/src/components/ResetPasswordForm.tsx
  packages/frontend/src/components/SignInForm.tsx
  packages/frontend/src/components/SignUpForm.tsx
  packages/frontend/src/components/TransactionActions.tsx
  packages/frontend/src/components/VerifyEmailForm.tsx
  packages/frontend/src/components/group-sheets/AddMemberButton.tsx
  packages/frontend/src/components/group-sheets/BalanceSummary.tsx
  packages/frontend/src/components/group-sheets/CreateGroupForm.tsx
  packages/frontend/src/components/group-sheets/SettlementForm.tsx
  packages/frontend/src/components/group-sheets/TransactionForm.tsx
  packages/frontend/src/components/personal-sheets/CreatePersonalTransactionDialog.tsx
  packages/frontend/src/components/personal-sheets/CreateSheetForm.tsx
  packages/frontend/src/components/personal-sheets/EditPersonalTransactionForm.tsx
  packages/frontend/src/components/settings/PrivacyForm.tsx
  packages/frontend/src/components/settings/ProfileForm.tsx
  packages/frontend/src/pages/Root.tsx
  packages/frontend/src/registerSW.tsx
  packages/frontend/src/utils/hooks/useServiceWorkerRegistration.ts
  yarn.lock
Due: backend, frontend

chore: mask sentry text
  packages/frontend/src/App.tsx
Due: frontend

Path conditions:
  backend: any of: packages/backend/
  frontend: any of: packages/frontend/
  shared: any of: packages/shared/
