Repository nihalgonsalves/expenses: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, hadolint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx,mjs,mts,cjs,cts}"
      run: node_modules/.bin/eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{js,ts,jsx,tsx,mjs,mts,cjs,cts,html,css,json,md,yml,yaml,sql}"
      run: node_modules/.bin/prettier --write {staged_files}
      stage_fixed: true
    hadolint:
      glob: "**/Dockerfile*"
      run: hadolint {staged_files}

chore: use postgres 17
  .github/workflows/build.yml
  compose.dev.yaml
  compose.yaml
  packages/backend/test/getPrisma.ts
Due: eslint, prettier

fix: use yarn to run lefthook commands
  lefthook.yml
Due: prettier

chore: use postgres 17 (#159)
  .github/workflows/build.yml
  compose.dev.yaml
  compose.yaml
  packages/backend/test/getPrisma.ts
Due: eslint, prettier

fix: sheet card spacing on <md
  packages/frontend/src/components/group-sheets/GroupSheet.tsx
  packages/frontend/src/components/personal-sheets/PersonalSheet.tsx
Due: eslint, prettier

chore: bump the stale notification timeout
  packages/frontend/src/pages/Root.tsx
Due: eslint, prettier

style: fix/config lint
  eslint.config.js
  packages/backend/bin/bundle.js
Due: eslint, prettier

chore: keep back playwright again
  packages/e2e/package.json
  yarn.lock
Due: prettier

chore: fix devcontainer startup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  packages/backend/bin/bundle.js
  packages/frontend/package.json
Due: eslint, prettier, hadolint

fix: rollback @radix-ui/react-scroll-area
  packages/frontend/package.json
  yarn.lock
Due: prettier

chore: upgrade all
  package.json
  packages/backend/package.json
  packages/e2e/package.json
  packages/frontend/package.json
  packages/frontend/src/api/TrpcProvider.tsx
  packages/frontend/src/components/transactions/data-table-faceted-filter.tsx
  packages/frontend/src/components/ui/badge.tsx
  packages/frontend/src/components/ui/calendar.tsx
  packages/frontend/src/components/ui/circular-progress.tsx
  yarn.lock
Due: eslint, prettier

ci: ensure dist directory exists
  packages/backend/bin/bundle.js
Due: eslint, prettier

chore: upgrade playwright
  .github/workflows/build.yml
  packages/e2e/package.json
  yarn.lock
Due: prettier

chore: upgrade playwright (#161)
  .github/workflows/build.yml
  packages/e2e/package.json
  yarn.lock
Due: prettier

docs: add LICENSE and introduction
  LICENSE
  README.md
  docs/01-home.webp
  docs/02-add-transaction.webp
  package.json
Due: prettier

docs: add LICENSE and introduction (#162)
  LICENSE
  README.md
  docs/01-home.webp
  docs/02-add-transaction.webp
  package.json
Due: prettier

ci: add typos spellchecking
  .devcontainer/devcontainer.json
  .github/workflows/build.yml
  .vscode/extensions.json
  _typos.toml
  packages/e2e/tests/auth.spec.ts
  packages/frontend/src/components/personal-sheets/EditPersonalTransactionForm.tsx
Due: eslint, prettier

ci: add typos spellchecking (#163)
  .devcontainer/devcontainer.json
  .github/workflows/build.yml
  .vscode/extensions.json
  _typos.toml
  packages/e2e/tests/auth.spec.ts
  packages/frontend/src/components/personal-sheets/EditPersonalTransactionForm.tsx
Due: eslint, prettier

chore: add basic rate limiter to protect against spam
  packages/backend/package.json
  packages/backend/src/service/email/EmailWorker.ts
  packages/backend/src/service/user/UserService.ts
  packages/backend/src/service/user/userRouter.test.ts
  packages/backend/src/utils/temporal.ts
  packages/frontend/src/utils/temporal.ts
  yarn.lock
Due: eslint, prettier

chore: add basic rate limiter to protect against spam (#164)
  packages/backend/package.json
  packages/backend/src/service/email/EmailWorker.ts
  packages/backend/src/service/user/UserService.ts
  packages/backend/src/service/user/userRouter.test.ts
  packages/backend/src/utils/temporal.ts
  packages/frontend/src/utils/temporal.ts
  yarn.lock
Due: eslint, prettier

chore: rename yaml to yml
  .devcontainer/compose.extend.yml
  .devcontainer/devcontainer.json
  .github/workflows/build.yml
  README.md
  compose.dev.yml
  compose.local.yml
  compose.yml
  package.json
Due: prettier

chore: lint
  eslint.config.js
Due: eslint, prettier

fix: login form sizing
  package.json
  packages/frontend/src/components/SignInForm.tsx
  packages/frontend/src/pages/AuthenticationPage.tsx
  packages/frontend/src/pages/Root.tsx
  yarn.lock
Due: eslint, prettier

chore(deps): upgrade all
  packages/backend/package.json
  packages/e2e/package.json
  packages/frontend/package.json
  yarn.lock
Due: prettier

chore(deps): upgrade all (#169)
  packages/backend/package.json
  packages/e2e/package.json
  packages/frontend/package.json
  yarn.lock
Due: prettier

refactor: use a signal for event listener cleanup
  packages/frontend/src/api/usePullToRefresh.tsx
Due: eslint, prettier

chore: address framer-motion deprecation
  packages/frontend/src/components/FloatingActionButton.tsx
Due: eslint, prettier

chore: add eslint react-compiler
  eslint.config.js
  package.json
  yarn.lock
Due: eslint, prettier

wip: bun [skip ci]
  .gitattributes
  .github/dependabot.yml
  .vscode/settings.json
  bun.lockb
  package.json
  packages/backend/bunfig.toml
  packages/backend/package.json
  packages/backend/src/service/user/utils.ts
  packages/backend/test/setup.ts
  packages/frontend/bunfig.toml
  packages/frontend/happydom.ts
  packages/frontend/package.json
  vitest.workspace.ts
Due: eslint, prettier

chore: exclude .env from clean
  package.json
Due: prettier

security: add hsts/csp headers to traefik
  compose.yml
  infra/traefik/headers.yml
Due: prettier

security: use more specific CSP header
  infra/traefik/headers.yml
Due: prettier

chore: update all
  package.json
  packages/backend/package.json
  packages/e2e/package.json
  packages/frontend/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier

chore: update all (#182)
  package.json
  packages/backend/package.json
  packages/e2e/package.json
  packages/frontend/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier

chore(deps): bump resolutions too
  packages/backend/package.json
Due: prettier

chore: upgrade react router v7
  packages/frontend/.storybook/preview.tsx
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/CategoryStats.tsx
  packages/frontend/src/components/FloatingActionButton.tsx
  packages/frontend/src/components/NavBarAvatar.tsx
  packages/frontend/src/components/ResetPasswordForm.tsx
  packages/frontend/src/components/SheetsList.tsx
  packages/frontend/src/components/VerifyEmailForm.tsx
  packages/frontend/src/components/group-sheets/BalanceSummary.tsx
  packages/frontend/src/components/group-sheets/CreateGroupForm.tsx
  packages/frontend/src/components/group-sheets/GroupSheet.tsx
  packages/frontend/src/components/group-sheets/GroupSheetAdminSection.tsx
  packages/frontend/src/components/personal-sheets/CreatePersonalTransactionDialog.tsx
  packages/frontend/src/components/personal-sheets/CreateSheetForm.tsx
  packages/frontend/src/components/personal-sheets/PersonalSheet.tsx
  packages/frontend/src/components/personal-sheets/PersonalSheetAdminSection.tsx
  packages/frontend/src/components/personal-sheets/PersonalTransactionsImporter.tsx
  packages/frontend/src/components/settings/PrivacyForm.tsx
  packages/frontend/src/components/transactions/columns.tsx
  packages/frontend/src/components/transactions/data-table.tsx
  packages/frontend/src/pages/AuthenticationPage.tsx
  packages/frontend/src/pages/ResetPasswordPage.tsx
  packages/frontend/src/pages/Root.tsx
  packages/frontend/src/pages/VerifyEmailPage.tsx
  packages/frontend/src/routes.tsx
  yarn.lock
Due: eslint, prettier

chore: upgrade react router v7 (#183)
  packages/frontend/.storybook/preview.tsx
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/CategoryStats.tsx
  packages/frontend/src/components/FloatingActionButton.tsx
  packages/frontend/src/components/NavBarAvatar.tsx
  packages/frontend/src/components/ResetPasswordForm.tsx
  packages/frontend/src/components/SheetsList.tsx
  packages/frontend/src/components/VerifyEmailForm.tsx
  packages/frontend/src/components/group-sheets/BalanceSummary.tsx
  packages/frontend/src/components/group-sheets/CreateGroupForm.tsx
  packages/frontend/src/components/group-sheets/GroupSheet.tsx
  packages/frontend/src/components/group-sheets/GroupSheetAdminSection.tsx
  packages/frontend/src/components/personal-sheets/CreatePersonalTransactionDialog.tsx
  packages/frontend/src/components/personal-sheets/CreateSheetForm.tsx
  packages/frontend/src/components/personal-sheets/PersonalSheet.tsx
  packages/frontend/src/components/personal-sheets/PersonalSheetAdminSection.tsx
  packages/frontend/src/components/personal-sheets/PersonalTransactionsImporter.tsx
  packages/frontend/src/components/settings/PrivacyForm.tsx
  packages/frontend/src/components/transactions/columns.tsx
  packages/frontend/src/components/transactions/data-table.tsx
  packages/frontend/src/pages/AuthenticationPage.tsx
  packages/frontend/src/pages/ResetPasswordPage.tsx
  packages/frontend/src/pages/Root.tsx
  packages/frontend/src/pages/VerifyEmailPage.tsx
  packages/frontend/src/routes.tsx
  yarn.lock
Due: eslint, prettier

chore: update all
  package.json
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/e2e/package.json
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/shared/package.json
  yarn.lock
Due: eslint, prettier

chore: update all (#187)
  package.json
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/e2e/package.json
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/shared/package.json
  yarn.lock
Due: eslint, prettier

chore(deps): upgrade storybook
  packages/frontend/package.json
  yarn.lock
Due: prettier

chore(deps): upgrade storybook (#188)
  packages/frontend/package.json
  yarn.lock
Due: prettier
