Repository nihalgonsalves/expenses: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier, hadolint

lefthook.yml:

# https://lefthook.dev/configuration/

output:
  - failure

pre-commit:
  parallel: true
  commands:
    oxlint:
      glob: "*.{js,ts,jsx,tsx,mjs,mts,cjs,cts}"
      run: pnpm --silent oxlint --fix --type-aware --type-check {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{js,ts,jsx,tsx,mjs,mts,cjs,cts,html,css,json,md,yml,yaml,sql}"
      run: pnpm --silent prettier --write {staged_files}
      stage_fixed: true
    hadolint:
      glob: "**/Dockerfile*"
      run: hadolint {staged_files}

feat: future transactions
  packages/backend/src/service/transaction/transaction-router.ts
  packages/backend/src/service/transaction/transaction-service.ts
  packages/frontend/src/components/group-sheets/balance-summary.tsx
  packages/frontend/src/components/group-sheets/settlement-form.tsx
  packages/frontend/src/components/group-sheets/transaction-form.tsx
  packages/frontend/src/components/personal-sheets/create-personal-transaction-dialog.tsx
  packages/frontend/src/components/personal-sheets/edit-personal-transaction-form.tsx
  packages/frontend/src/components/transactions/data-table-row-actions.tsx
  packages/frontend/src/components/transactions/data-table-toolbar.tsx
  packages/frontend/src/components/ui/date-range-picker.tsx
  packages/frontend/src/utils/utils.ts
Due: oxlint, prettier

feat: add better invite email text
  packages/backend/bin/demo.ts
  packages/backend/prisma/migrations/20260325214349_add_pending_invitation/migration.sql
  packages/backend/prisma/schema/auth.prisma
  packages/backend/prisma/schema/schema.prisma
  packages/backend/src/service/sheet/sheet-router.test.ts
  packages/backend/src/service/sheet/sheet-router.ts
  packages/backend/src/service/sheet/sheet-service.test.ts
  packages/backend/src/service/sheet/sheet-service.ts
  packages/backend/src/service/user/user-service.ts
  packages/backend/src/utils/auth.ts
  packages/e2e/tests/auth.spec.ts
  packages/frontend/src/components/group-sheets/add-member-button.tsx
  packages/shared/src/types/sheet.ts
Due: oxlint, prettier

chore: remove legacy knip setting
  knip.jsonc
Due: none

ux: move future transaction button / add icon
  packages/frontend/src/components/transactions/data-table-toolbar.tsx
Due: oxlint, prettier

feat: use passkey + magic links only
  packages/backend/src/config.ts
  packages/backend/src/service/user/user-router.test.ts
  packages/backend/src/service/user/user-router.ts
  packages/backend/src/service/user/user-service.ts
  packages/backend/src/utils/auth.ts
  packages/backend/test/factories.ts
  packages/e2e/package.json
  packages/e2e/tests/auth.spec.ts
  packages/e2e/tests/pwa.spec.ts
  packages/e2e/utils/test.ts
  packages/frontend/src/components/nav-bar-avatar.tsx
  packages/frontend/src/components/settings/privacy-form.tsx
  packages/frontend/src/components/settings/verify-email-card.tsx
  packages/frontend/src/components/ui/field.tsx
  packages/frontend/src/routeTree.gen.ts
  packages/frontend/src/routes/__root.tsx
  packages/frontend/src/routes/auth/$authView.tsx
  packages/frontend/src/routes/auth/reset-password.tsx
  packages/frontend/src/routes/auth/sign-in.tsx
  packages/frontend/src/routes/auth/sign-up.tsx
  packages/frontend/src/routes/settings.tsx
  packages/frontend/src/utils/auth.ts
  packages/shared/src/routes.ts
  packages/shared/src/types/user.ts
  patches/@daveyplate__better-auth-ui.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxlint, prettier

fix: use OTP instead of magic link for better PWA support
  packages/backend/prisma/migrations/20260326204744_remove_pending_invitation/migration.sql
  packages/backend/prisma/schema/auth.prisma
  packages/backend/prisma/schema/schema.prisma
  packages/backend/src/context.ts
  packages/backend/src/service/user/user-service.ts
  packages/backend/src/utils/auth.ts
  packages/backend/test/get-trpc-caller.ts
  packages/e2e/tests/auth.spec.ts
  packages/frontend/src/components/ui/card.tsx
  packages/frontend/src/routes/auth/sign-in.tsx
  packages/frontend/src/utils/auth.ts
  packages/shared/src/types/user.ts
Due: oxlint, prettier

chore: remove react-scan
  packages/frontend/package.json
  packages/frontend/src/client.tsx
  pnpm-lock.yaml
Due: oxlint, prettier

fix: various layout issues
  packages/frontend/src/routes/_auth/groups/$sheetId.tsx
  packages/frontend/src/routes/_auth/sheets/$sheetId.tsx
  packages/frontend/src/routes/_auth/sheets/index.tsx
  packages/frontend/src/routes/auth/sign-in.tsx
  packages/frontend/src/routes/settings.tsx
Due: oxlint, prettier

chore: remove fixed ts-expect-error
  packages/frontend/src/server.ts
Due: oxlint, prettier

chore: bump, add minimumReleaseAge
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

security: pin act
  .github/dependabot.yml
  .github/workflows/build.yml
Due: prettier

build(deps): bump the all group across 1 directory
  package.json
  packages/backend/package.json
  packages/e2e/package.json
  packages/frontend/package.json
  pnpm-lock.yaml
Due: prettier

ux: simplify transaction form
  packages/frontend/src/components/form/money-field.tsx
  packages/frontend/src/components/group-sheets/splits-form-section.tsx
  packages/frontend/src/components/group-sheets/transaction-form/form-schema.ts
Due: oxlint, prettier

chore: bump linting
  package.json
  packages/backend/src/service/email/email-worker.ts
  packages/backend/src/service/transaction/transaction-router.ts
  packages/backend/src/service/user/user-router.test.ts
  packages/frontend/src/sw.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxlint, prettier

chore: bump all
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: prettier

chore: bump remaining packages
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/src/components/ui/date-input.tsx
  pnpm-lock.yaml
Due: oxlint, prettier

chore(deps): pnpm v11
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: remove better-auth-ui
  packages/backend/src/utils/auth.ts
  packages/frontend/package.json
  packages/frontend/src/components/settings/profile-form.tsx
  packages/frontend/src/components/settings/security-form.tsx
  packages/frontend/src/routes/settings.tsx
  packages/frontend/src/tailwind.css
  pnpm-lock.yaml
Due: oxlint, prettier

chore: update lint/misc
  .oxlintrc.json
  package.json
  packages/backend/package.json
  packages/backend/src/service/transaction/rrule-utils.ts
  packages/frontend/.oxlintrc.json
  packages/frontend/bin/generate-sw.ts
  packages/frontend/package.json
  packages/frontend/src/components/floating-action-button.tsx
  packages/frontend/src/components/pwa-install.tsx
  packages/frontend/src/components/settings/profile-form.tsx
  packages/frontend/src/components/transactions/data-table.tsx
  packages/frontend/src/components/ui/calendar.tsx
  packages/frontend/src/components/ui/date-range-picker.tsx
  packages/frontend/src/components/ui/input-group.tsx
  packages/frontend/src/router.tsx
  packages/frontend/tsconfig.json
  packages/frontend/vite.config.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: oxlint, prettier

fix: zod undefined/optional 4.4 breaking change
  packages/backend/src/config.ts
Due: oxlint, prettier

chore: update all compatible
  .github/workflows/build.yml
  package.json
  packages/backend/package.json
  packages/e2e/package.json
  packages/frontend/package.json
  packages/frontend/src/routeTree.gen.ts
  packages/shared/package.json
  pnpm-lock.yaml
Due: oxlint, prettier

chore: drop chromatic entirely
  .github/workflows/build.yml
  knip.jsonc
  packages/e2e/package.json
  packages/frontend/package.json
  packages/frontend/src/components/group-sheets/transaction-form.tsx
  pnpm-lock.yaml
Due: oxlint, prettier

chore(deps): upgrade oxlint
  package.json
  packages/backend/src/app.ts
  packages/frontend/.oxlintrc.json
  packages/frontend/src/components/floating-action-button.tsx
  packages/frontend/src/components/transactions/data-table.tsx
  pnpm-lock.yaml
Due: oxlint, prettier

chore!(deps): upgrade better-auth 1.7
  packages/backend/package.json
  packages/backend/prisma/migrations/20260827000000_better_auth_1_7_account_identity/migration.sql
  packages/backend/prisma/schema/auth.prisma
  packages/backend/src/config.ts
  packages/backend/src/utils/auth.ts
  packages/frontend/package.json
  packages/frontend/src/components/settings/security-form.tsx
  packages/frontend/src/routes/auth/sign-in.tsx
  packages/frontend/src/utils/auth.ts
  pnpm-lock.yaml
Due: oxlint, prettier

chore: migrate bullmq legacy repeatables
  packages/backend/src/service/transaction/transaction-schedule-worker.ts
Due: oxlint, prettier

chore: upgrade bullmq/bull-board/ioredis
  packages/backend/package.json
  packages/backend/src/service/transaction/transaction-schedule-worker.ts
  pnpm-lock.yaml
Due: oxlint, prettier

chore: remove babel, replace with oxc react
  knip.jsonc
  packages/frontend/package.json
  packages/frontend/vite.config.ts
  pnpm-lock.yaml
Due: oxlint, prettier

chore: migrate react-query changes
  packages/frontend/package.json
  packages/frontend/src/routes/__root.tsx
  packages/frontend/src/routes/_auth/groups/$sheetId.tsx
  packages/frontend/src/routes/_auth/sheets/$sheetId.import.tsx
  packages/frontend/src/routes/_auth/sheets/$sheetId.tsx
  packages/frontend/src/routes/_auth/sheets/index.tsx
  pnpm-lock.yaml
Due: oxlint, prettier

fix: session refresh
  packages/backend/src/context.ts
  packages/backend/src/utils/auth.ts
Due: oxlint, prettier

chore: migrate tanstack table v9
  packages/frontend/package.json
  packages/frontend/src/components/transactions/columns.tsx
  packages/frontend/src/components/transactions/data-table-expanded-row.tsx
  packages/frontend/src/components/transactions/data-table-faceted-filter.tsx
  packages/frontend/src/components/transactions/data-table-row-actions.tsx
  packages/frontend/src/components/transactions/data-table-toolbar.tsx
  packages/frontend/src/components/transactions/data-table.tsx
  packages/frontend/src/components/transactions/table-features.ts
  packages/frontend/src/components/ui/data-table-column-header.tsx
  packages/frontend/src/components/ui/data-table-pagination.tsx
  packages/frontend/src/components/ui/data-table-view-options.tsx
  pnpm-lock.yaml
Due: oxlint, prettier

chore: bump all
  package.json
  packages/backend/package.json
  packages/e2e/package.json
  packages/frontend/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: prettier

feat(ui): improve mobile bottom nav
  packages/frontend/src/components/floating-action-button.tsx
  packages/frontend/src/pages/root.tsx
  packages/frontend/src/tailwind.css
Due: oxlint, prettier

feat: use frankfurter v2, more currencies
  compose.dev.yml
  compose.local.yml
  compose.yml
  infra/postgres-init.local.sql
  packages/backend/bin/prepare-ci-e2e.js
  packages/backend/src/service/frankfurter/currency-conversion-router.ts
  packages/backend/src/service/frankfurter/frankfurter-service.ts
Due: oxlint, prettier

feat: recently used currencies
  packages/backend/package.json
  packages/backend/prisma/migrations/20260903194500_add_original_transaction_money/migration.sql
  packages/backend/prisma/schema/schema.prisma
  packages/backend/src/service/frankfurter/currency-conversion-router.test.ts
  packages/backend/src/service/frankfurter/currency-conversion-router.ts
  packages/backend/src/service/frankfurter/frankfurter-service.test.ts
  packages/backend/src/service/sheet/sheet-service.ts
  packages/backend/src/service/transaction/prisma-mappers.ts
  packages/backend/src/service/transaction/transaction-router.test.ts
  packages/backend/src/service/transaction/transaction-router.ts
  packages/backend/src/service/transaction/transaction-service.ts
  packages/backend/test/msw.ts
  packages/frontend/src/api/currency-conversion.ts
  packages/frontend/src/components/form/currency-select.tsx
  packages/frontend/src/components/group-sheets/balance-summary.tsx
  packages/frontend/src/components/group-sheets/create-group-form.tsx
  packages/frontend/src/components/group-sheets/group-sheet-admin-section.tsx
  packages/frontend/src/components/group-sheets/settlement-form.tsx
  packages/frontend/src/components/group-sheets/transaction-form.tsx
  packages/frontend/src/components/group-sheets/transaction-form/form-schema.ts
  packages/frontend/src/components/personal-sheets/create-personal-transaction-dialog.tsx
  packages/frontend/src/components/personal-sheets/create-sheet-form.tsx
  packages/frontend/src/components/personal-sheets/edit-personal-transaction-form.tsx
  packages/frontend/src/components/personal-sheets/personal-sheet-admin-section.tsx
  packages/frontend/src/components/personal-sheets/personal-transactions-importer.tsx
  packages/frontend/src/components/settings/appearance-form.tsx
  packages/frontend/src/components/transactions/data-table-row-actions.tsx
  packages/shared/src/types/transaction.ts
  pnpm-lock.yaml
Due: oxlint, prettier

refactor: use msw for web push tests
  packages/backend/package.json
  packages/backend/src/service/notification/notification-service.test.ts
  packages/backend/test/web-push-utils.ts
  pnpm-lock.yaml
Due: oxlint, prettier

chore: use node 26 with temporal support
  .devcontainer/Dockerfile
  .github/workflows/build.yml
  infra/Dockerfile-backend
  infra/Dockerfile-frontend
  package.json
  packages/backend/bin/demo.ts
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/service/frankfurter/frankfurter-service.test.ts
  packages/backend/test/setup.ts
  packages/frontend/src/server.ts
  packages/frontend/test/setup.ts
  packages/frontend/vitest.config.ts
  pnpm-lock.yaml
Due: oxlint, prettier, hadolint

security!: use build secrets for sentry
  README.md
  deploy.sh
  infra/Dockerfile-backend
  infra/Dockerfile-frontend
Due: prettier, hadolint

infra: simplify bullmq to postgres, remove redis
  .devcontainer/compose.extend.yml
  .github/workflows/build.yml
  README.md
  compose.dev.yml
  compose.local.yml
  compose.yml
  packages/backend/bin/prepare-ci-e2e.js
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/config.ts
  packages/backend/src/postgres.ts
  packages/backend/src/service/email/email-worker.ts
  packages/backend/src/service/notification/notification-dispatch-worker.ts
  packages/backend/src/service/notification/notification-service.test.ts
  packages/backend/src/service/transaction/transaction-schedule-worker.test.ts
  packages/backend/src/service/transaction/transaction-schedule-worker.ts
  packages/backend/src/start-workers.ts
  packages/backend/test/bull-mq-utils.ts
  packages/backend/test/get-bullmq.ts
  packages/backend/test/get-redis.ts
  packages/backend/test/global-setup.ts
  pnpm-lock.yaml
Due: oxlint, prettier

refactor(backend): move workers to separate file
  packages/backend/src/app.ts
  packages/backend/src/runtime.ts
  packages/backend/src/start-workers.ts
Due: oxlint, prettier

infra: move web process to the frontend/TanStack start container
  .devcontainer/compose.extend.yml
  .devcontainer/devcontainer.json
  .github/workflows/build.yml
  README.md
  compose.yml
  infra/Dockerfile-backend
  infra/Dockerfile-frontend
  package.json
  packages/backend/bin/demo.ts
  packages/backend/bin/prepare-ci-e2e.js
  packages/backend/bin/prepare-local-env.js
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/config.ts
  packages/backend/src/context.ts
  packages/backend/src/pwa-router.ts
  packages/backend/src/runtime.ts
  packages/backend/src/sentry.ts
  packages/backend/src/service/email/email-worker.ts
  packages/backend/src/service/notification/notification-dispatch-worker.ts
  packages/backend/src/service/transaction/rrule-utils.ts
  packages/backend/src/service/transaction/transaction-schedule-worker.ts
  packages/backend/src/worker.ts
  packages/e2e/tests/pwa.spec.ts
  packages/frontend/bin/dev-vite.sh
  packages/frontend/package.json
  packages/frontend/src/components/pwa-install.tsx
  packages/frontend/src/routeTree.gen.ts
  packages/frontend/src/routes/__root.tsx
  packages/frontend/src/routes/api/$.ts
  packages/frontend/src/server.ts
  packages/frontend/src/utils/get-api-base-url.ts
  patches/rrule@2.8.1.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxlint, prettier, hadolint
