Repository nihalgonsalves/expenses: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, hadolint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx,mjs,mts,cjs,cts}"
      run: node_modules/.bin/eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{js,ts,jsx,tsx,mjs,mts,cjs,cts,html,css,json,md,yml,yaml,sql}"
      run: node_modules/.bin/prettier --write {staged_files}
      stage_fixed: true
    hadolint:
      glob: "**/Dockerfile*"
      run: hadolint {staged_files}

Revert "ci: use built fe for e2e tests"
  package.json
Due: prettier

fix(spotlight): hide auth errors, move overlay
  packages/backend/src/app.ts
  packages/frontend/src/App.tsx
  packages/frontend/vite.config.ts
Due: eslint, prettier

chore: update all
  package.json
  packages/backend/package.json
  packages/e2e/package.json
  packages/frontend/package.json
  yarn.lock
Due: prettier

fix: hide dev tools in prod
  packages/frontend/src/routes/__root.tsx
Due: eslint, prettier

fix: tsc
  packages/frontend/.storybook/preview.tsx
  tsconfig.base.json
Due: eslint, prettier

wip: bun [skip ci]
  .gitattributes
  .github/dependabot.yml
  bun.lockb
  package.json
  packages/backend/bunfig.toml
  packages/backend/package.json
  packages/backend/src/service/user/utils.ts
  packages/backend/test/setup.ts
  packages/frontend/bunfig.toml
  packages/frontend/happydom.ts
  packages/frontend/package.json
  vitest.workspace.ts
Due: eslint, prettier

perf: add react compiler
  package.json
  packages/frontend/package.json
  packages/frontend/src/components/settings/ProfileForm.tsx
  packages/frontend/src/components/transactions/columns.tsx
  packages/frontend/src/components/transactions/data-table-expanded-row.tsx
  packages/frontend/src/components/transactions/data-table-faceted-filter.tsx
  packages/frontend/src/components/transactions/data-table-row-actions.tsx
  packages/frontend/src/components/transactions/data-table-toolbar.tsx
  packages/frontend/src/components/transactions/data-table.tsx
  packages/frontend/src/components/ui/data-table-column-header.tsx
  packages/frontend/src/components/ui/data-table-pagination.tsx
  packages/frontend/src/components/ui/data-table-view-options.tsx
  packages/frontend/src/components/ui/form.tsx
  packages/frontend/src/routes/__root.tsx
  packages/frontend/vite.config.ts
  yarn.lock
Due: eslint, prettier

refactor remove useMemo/useCallback
  packages/frontend/src/api/TrpcProvider.tsx
  packages/frontend/src/api/currencyConversion.ts
  packages/frontend/src/api/trpc.ts
  packages/frontend/src/api/useAllUserTransactions.ts
  packages/frontend/src/api/useCacheReset.ts
  packages/frontend/src/components/CategoryStats.tsx
  packages/frontend/src/components/SheetsList.tsx
  packages/frontend/src/components/SignInForm.tsx
  packages/frontend/src/components/form/ConfirmDialog.tsx
  packages/frontend/src/components/form/CurrencySelect.tsx
  packages/frontend/src/components/form/MoneyField.tsx
  packages/frontend/src/components/form/ResponsiveDialog.tsx
  packages/frontend/src/components/group-sheets/BalanceSummary.tsx
  packages/frontend/src/components/group-sheets/GroupSheetAdminSection.tsx
  packages/frontend/src/components/group-sheets/GroupSheetExportSection.tsx
  packages/frontend/src/components/group-sheets/TransactionForm.tsx
  packages/frontend/src/components/personal-sheets/CreatePersonalTransactionDialog.tsx
  packages/frontend/src/components/personal-sheets/EditPersonalTransactionForm.tsx
  packages/frontend/src/components/personal-sheets/PersonalSheetAdminSection.tsx
  packages/frontend/src/components/personal-sheets/PersonalSheetExportSection.tsx
  packages/frontend/src/components/personal-sheets/PersonalTransactionsImporter.tsx
  packages/frontend/src/components/transactions/data-table.tsx
  packages/frontend/src/data/useCategoryEmojiShortCode.ts
  packages/frontend/src/pages/Root.tsx
  packages/frontend/src/routes/_auth/groups/$sheetId.tsx
  packages/frontend/src/state/theme.ts
  packages/frontend/src/utils/hooks/useNotificationPermission.ts
  packages/frontend/src/utils/useMoneyValues.ts
Due: eslint, prettier

chore: add react-scan and code-inspector-plugin
  package.json
  packages/frontend/package.json
  packages/frontend/src/config.ts
  packages/frontend/src/init.ts
  packages/frontend/src/main.tsx
  packages/frontend/src/routes/__root.tsx
  packages/frontend/vite.config.ts
  yarn.lock
Due: eslint, prettier

test: use vitest lint rules
  eslint.config.js
  package.json
  packages/backend/src/appRouter.test.ts
  packages/backend/src/context.test.ts
  packages/backend/src/service/notification/NotificationService.test.ts
  packages/backend/src/service/notification/notificationRouter.test.ts
  packages/backend/src/service/sheet/sheetRouter.test.ts
  packages/backend/src/service/transaction/TransactionScheduleWorker.test.ts
  packages/backend/src/service/transaction/TransactionService.test.ts
  packages/backend/src/service/transaction/transactionRouter.test.ts
  packages/backend/src/service/user/userRouter.test.ts
  packages/backend/src/service/user/utils.test.ts
  packages/frontend/src/components/ui/button.tsx
  packages/frontend/src/routes/_auth.tsx
  packages/frontend/src/utils/math.test.ts
  yarn.lock
Due: eslint, prettier

ci: bump playwright
  .github/workflows/build.yml
  packages/e2e/package.json
  yarn.lock
Due: prettier

fix: dialog width on desktop
  packages/frontend/src/components/form/ResponsiveDialog.tsx
  packages/frontend/src/components/ui/dialog.tsx
Due: eslint, prettier

feat: sync color scheme for scrollbars
  packages/frontend/index.html
  packages/frontend/src/state/theme.ts
Due: eslint, prettier

fix: improve theme color syncing
  packages/frontend/src/pages/Root.tsx
  packages/frontend/src/state/theme.ts
Due: eslint, prettier

chore: suppress use no memo rollup errors
  packages/frontend/vite.config.ts
Due: eslint, prettier

refactor: use sonner instead of react-hot-toast
  .github/dependabot.yml
  packages/frontend/package.json
  packages/frontend/src/api/TrpcProvider.tsx
  packages/frontend/src/api/requestExport.tsx
  packages/frontend/src/api/useOffLineToaster.ts
  packages/frontend/src/api/usePullToRefresh.tsx
  packages/frontend/src/components/ErrorBoundary.tsx
  packages/frontend/src/components/SignInForm.tsx
  packages/frontend/src/components/group-sheets/GroupSheetFormSection.tsx
  packages/frontend/src/components/personal-sheets/PersonalSheetFormSection.tsx
  packages/frontend/src/components/settings/CategoryForm.tsx
  packages/frontend/src/components/settings/ProfileForm.tsx
  packages/frontend/src/components/ui/toaster.tsx
  packages/frontend/src/pages/Root.tsx
  packages/frontend/src/registerSW.tsx
  packages/frontend/src/routes/__root.tsx
  yarn.lock
Due: eslint, prettier

fix: remove Infinity done duration
  packages/frontend/src/pages/Root.tsx
Due: eslint, prettier

ci: add codecov bundle & test analysis
  .github/workflows/build.yml
  packages/frontend/package.json
  packages/frontend/vite.config.ts
  yarn.lock
Due: eslint, prettier

ci: add codecov bundle & test analysis (#213)
  .github/workflows/build.yml
  packages/frontend/package.json
  packages/frontend/vite.config.ts
  yarn.lock
Due: eslint, prettier

chore: update all
  .github/workflows/build.yml
  package.json
  packages/backend/package.json
  packages/backend/src/service/user/utils.ts
  packages/e2e/package.json
  packages/frontend/.storybook/main.ts
  packages/frontend/.storybook/preview.tsx
  packages/frontend/package.json
  packages/frontend/src/api/requestExport.tsx
  packages/frontend/src/components/NavBarAvatar.stories.tsx
  packages/frontend/src/components/settings/IconPreview.stories.tsx
  packages/frontend/src/components/ui/alert-dialog.stories.tsx
  packages/frontend/src/components/ui/alert.stories.tsx
  packages/frontend/src/components/ui/avatar.stories.tsx
  packages/frontend/src/components/ui/badge.stories.tsx
  packages/frontend/src/components/ui/button.stories.tsx
  packages/frontend/src/components/ui/card.stories.tsx
  packages/frontend/src/components/ui/circular-progress.stories.tsx
  packages/frontend/src/components/ui/collapsible.stories.tsx
  packages/frontend/src/components/ui/date-range-picker.stories.tsx
  packages/frontend/src/components/ui/dialog.stories.tsx
  packages/frontend/src/components/ui/drawer.stories.tsx
  packages/frontend/src/components/ui/dropdown-menu.stories.tsx
  packages/frontend/src/components/ui/form.stories.tsx
  packages/frontend/src/components/ui/label.stories.tsx
  packages/frontend/src/components/ui/loading-spinner.stories.tsx
  packages/frontend/src/components/ui/navigation-menu.stories.tsx
  packages/frontend/src/components/ui/scroll-area.stories.tsx
  packages/frontend/src/components/ui/select.stories.tsx
  packages/frontend/src/components/ui/separator.stories.tsx
  packages/frontend/src/components/ui/table.stories.tsx
  packages/frontend/src/components/ui/tabs.stories.tsx
  packages/frontend/src/components/ui/toggle-group.stories.tsx
  packages/frontend/src/components/ui/tooltip.stories.tsx
  packages/frontend/vite.config.ts
  packages/shared/package.json
  yarn.lock
Due: eslint, prettier

chore(deps): upgrade prisma, migrate error instanceof regression
  packages/backend/package.json
  packages/backend/src/service/sheet/SheetService.ts
  packages/backend/src/service/transaction/TransactionService.ts
  packages/backend/src/service/user/UserService.ts
  yarn.lock
Due: eslint, prettier

chore: update security headers
  infra/traefik/headers.yml
Due: prettier

refactor: import vaul/sonner CSS statically
  .yarn/patches/sonner-npm-2.0.6-04d41595a0.patch
  .yarn/patches/vaul-npm-1.1.2-7a571c1ad6.patch
  infra/traefik/headers.yml
  packages/frontend/package.json
  packages/frontend/src/main.css
  yarn.lock
Due: prettier

ci: fix docker build for patches
  .dockerignore
  infra/Dockerfile-backend
  infra/Dockerfile-frontend
Due: hadolint

fix: manually specify group sheet export columns
  packages/frontend/src/api/requestExport.tsx
  packages/frontend/src/components/group-sheets/GroupSheetExportSection.tsx
  packages/frontend/src/components/personal-sheets/PersonalSheetExportSection.tsx
Due: eslint, prettier

chore: fix typo
  packages/frontend/src/components/form/ResponsiveDialog.tsx
Due: eslint, prettier

chore: upgrade all minor
  .github/workflows/build.yml
  package.json
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/service/transaction/transactionRouter.test.ts
  packages/e2e/package.json
  packages/e2e/utils/test.ts
  packages/frontend/package.json
  packages/frontend/src/components/ui/data-table-view-options.tsx
  packages/frontend/src/components/ui/dropdown-menu.stories.tsx
  yarn.lock
Due: eslint, prettier

chore: upgrade all minor (#278)
  .github/workflows/build.yml
  package.json
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/service/transaction/transactionRouter.test.ts
  packages/e2e/package.json
  packages/e2e/utils/test.ts
  packages/frontend/package.json
  packages/frontend/src/components/ui/data-table-view-options.tsx
  packages/frontend/src/components/ui/dropdown-menu.stories.tsx
  yarn.lock
Due: eslint, prettier

chore: upgrade vitest, storybook, node
  .devcontainer/Dockerfile
  .github/workflows/build.yml
  eslint.config.js
  infra/Dockerfile-backend
  infra/Dockerfile-frontend
  package.json
  packages/backend/package.json
  packages/frontend/.storybook/main.ts
  packages/frontend/package.json
  packages/frontend/src/components/ui/dropdown-menu.stories.tsx
  packages/shared/package.json
  vitest.config.ts
  vitest.workspace.ts
  yarn.lock
Due: eslint, prettier, hadolint

chore: upgrade vitest, storybook, node (#279)
  .devcontainer/Dockerfile
  .github/workflows/build.yml
  eslint.config.js
  infra/Dockerfile-backend
  infra/Dockerfile-frontend
  package.json
  packages/backend/package.json
  packages/frontend/.storybook/main.ts
  packages/frontend/package.json
  packages/frontend/src/components/ui/dropdown-menu.stories.tsx
  packages/shared/package.json
  vitest.config.ts
  vitest.workspace.ts
  yarn.lock
Due: eslint, prettier, hadolint

chore: upgrade
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: prettier

chore: upgrade all minor
  .github/workflows/build.yml
  package.json
  packages/backend/package.json
  packages/backend/src/service/transaction/TransactionScheduleWorker.ts
  packages/backend/test/webPushUtils.ts
  packages/e2e/package.json
  packages/frontend/package.json
  packages/shared/package.json
  yarn.lock
Due: eslint, prettier

chore: remove spotlight, upgrade sentry
  packages/backend/src/app.ts
  packages/frontend/package.json
  packages/frontend/src/main.tsx
  packages/frontend/vite.config.ts
  yarn.lock
Due: eslint, prettier

chore: upgrade hono
  packages/backend/package.json
  yarn.lock
Due: prettier

chore: upgrade zod v4
  packages/backend/package.json
  packages/backend/src/config.ts
  packages/backend/src/service/frankfurter/FrankfurterService.ts
  packages/backend/src/service/user/UserService.ts
  packages/backend/src/service/user/userRouter.ts
  packages/backend/src/service/user/utils.test.ts
  packages/backend/src/trpc.ts
  packages/e2e/package.json
  packages/frontend/package.json
  packages/frontend/src/api/TrpcProvider.tsx
  packages/frontend/src/components/form/Select.tsx
  packages/frontend/src/components/group-sheets/TransactionForm.tsx
  packages/frontend/src/components/personal-sheets/CreatePersonalTransactionDialog.tsx
  packages/frontend/src/components/personal-sheets/PersonalTransactionsImporter.tsx
  packages/shared/package.json
  packages/shared/src/types/notification.ts
  packages/shared/src/types/sheet.ts
  packages/shared/src/types/transaction.ts
  packages/shared/src/types/user.ts
  yarn.lock
Due: eslint, prettier

chore: upgrade all
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: prettier
