Repository nihalgonsalves/expenses: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, prettier, hadolint

lefthook.yml:

# https://lefthook.dev/configuration/

output:
  - failure

pre-commit:
  parallel: true
  commands:
    oxlint:
      glob: "*.{js,ts,jsx,tsx,mjs,mts,cjs,cts}"
      run: pnpm --silent oxlint --fix --type-aware --type-check {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{js,ts,jsx,tsx,mjs,mts,cjs,cts,html,css,json,md,yml,yaml,sql}"
      run: pnpm --silent prettier --write {staged_files}
      stage_fixed: true
    hadolint:
      glob: "**/Dockerfile*"
      run: hadolint {staged_files}

fix: temporal issue on Safari
  packages/frontend/src/utils/temporal.ts
Due: oxlint, prettier

feat: add PWA Install
  package.json
  packages/frontend/package.json
  packages/frontend/src/components/PWAInstall.tsx
  packages/frontend/src/components/settings/NotificationPreferenceForm.tsx
  packages/frontend/src/routes/__root.tsx
  pnpm-lock.yaml
Due: oxlint, prettier

feat: add user invite-by-email flow
  packages/backend/bin/demo.ts
  packages/backend/src/context.ts
  packages/backend/src/service/email/EmailWorker.ts
  packages/backend/src/service/sheet/SheetService.ts
  packages/backend/src/service/sheet/sheetRouter.test.ts
  packages/backend/src/service/sheet/sheetRouter.ts
  packages/backend/src/service/user/UserService.ts
  packages/backend/src/service/user/userRouter.ts
  packages/backend/test/getTRPCCaller.ts
  packages/e2e/tests/sheet.spec.ts
  packages/e2e/tests/transaction.spec.ts
  packages/frontend/src/components/group-sheets/CreateGroupForm.tsx
  packages/shared/src/types/sheet.ts
Due: oxlint, prettier

feat: add user invite-by-email flow (#340)
  packages/backend/bin/demo.ts
  packages/backend/src/context.ts
  packages/backend/src/service/email/EmailWorker.ts
  packages/backend/src/service/sheet/SheetService.ts
  packages/backend/src/service/sheet/sheetRouter.test.ts
  packages/backend/src/service/sheet/sheetRouter.ts
  packages/backend/src/service/user/UserService.ts
  packages/backend/src/service/user/userRouter.ts
  packages/backend/test/getTRPCCaller.ts
  packages/e2e/tests/sheet.spec.ts
  packages/e2e/tests/transaction.spec.ts
  packages/frontend/src/components/group-sheets/CreateGroupForm.tsx
  packages/shared/src/types/sheet.ts
Due: oxlint, prettier

fix: show install only after login
  packages/frontend/index.html
  packages/frontend/src/components/PWAInstall.tsx
  packages/frontend/src/components/settings/IconPreview.tsx
  packages/frontend/src/components/settings/NotificationPreferenceForm.tsx
  packages/frontend/src/routes/__root.tsx
  packages/frontend/src/vite-env.d.ts
Due: oxlint, prettier

fix: improve combobox with new shadcn version
  packages/frontend/.oxlintrc.json
  packages/frontend/src/components/form/CategorySelect.tsx
  packages/frontend/src/components/form/CurrencySelect.tsx
  packages/frontend/src/components/group-sheets/TransactionForm.tsx
  packages/frontend/src/components/personal-sheets/CreatePersonalTransactionDialog.tsx
  packages/frontend/src/components/personal-sheets/EditPersonalTransactionForm.tsx
  packages/frontend/src/components/ui/combobox.tsx
  packages/frontend/src/components/ui/input-group.tsx
  packages/frontend/src/components/ui/textarea.tsx
  pnpm-lock.yaml
Due: oxlint, prettier

ux: improve comboboxes/autofocus
  package.json
  packages/e2e/tests/transaction.spec.ts
  packages/frontend/.oxlintrc.json
  packages/frontend/package.json
  packages/frontend/src/components/form/CurrencySelect.tsx
  packages/frontend/src/components/form/MoneyField.tsx
  packages/frontend/src/components/group-sheets/CreateGroupForm.tsx
  packages/frontend/src/components/group-sheets/ParticipantSelect.tsx
  packages/frontend/src/components/group-sheets/SettlementForm.tsx
  packages/frontend/src/components/group-sheets/TransactionForm.tsx
  packages/frontend/src/components/personal-sheets/CreatePersonalTransactionDialog.tsx
  packages/frontend/src/components/personal-sheets/CreateSheetForm.tsx
  packages/frontend/src/components/personal-sheets/EditPersonalTransactionForm.tsx
  packages/frontend/src/components/ui/combobox.tsx
  packages/frontend/src/components/ui/select.tsx
Due: oxlint, prettier

chore: remove deprecated dinero currency package
  packages/shared/package.json
  packages/shared/src/money.ts
  pnpm-lock.yaml
Due: oxlint, prettier

chore: use postgres 18
  compose.dev.yml
  compose.yml
Due: prettier

fix: prod CLI guard
  packages/backend/src/config.ts
Due: oxlint, prettier

feat: add better-auth-ui
  packages/e2e/tests/auth.spec.ts
  packages/frontend/package.json
  packages/frontend/src/components/NavBarAvatar.tsx
  packages/frontend/src/components/ResetPasswordForm.tsx
  packages/frontend/src/components/SignInForm.tsx
  packages/frontend/src/components/SignUpForm.tsx
  packages/frontend/src/routeTree.gen.ts
  packages/frontend/src/routes/__root.tsx
  packages/frontend/src/routes/auth/$authView.tsx
  packages/frontend/src/routes/auth/reset-password.tsx
  packages/frontend/src/routes/auth/sign-in.tsx
  packages/frontend/src/routes/auth/sign-up.tsx
  packages/frontend/src/tailwind.css
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxlint, prettier

fix: new db colnames/types
  packages/backend/prisma/migrations/20260307204027_fix_column_names_and_types/migration.sql
  packages/backend/prisma/schema/auth.prisma
  packages/backend/prisma/schema/schema.prisma
Due: prettier

feat: passkeys/session management/etc
  packages/backend/package.json
  packages/backend/prisma/migrations/20260307211048_add_passkey_table/migration.sql
  packages/backend/prisma/schema/auth.prisma
  packages/backend/src/utils/auth.ts
  packages/frontend/package.json
  packages/frontend/src/components/settings/ProfileForm.tsx
  packages/frontend/src/components/settings/VerifyEmailCard.tsx
  packages/frontend/src/components/ui/native-select.tsx
  packages/frontend/src/routes/__root.tsx
  packages/frontend/src/routes/auth/$authView.tsx
  packages/frontend/src/routes/auth/reset-password.tsx
  packages/frontend/src/routes/auth/sign-in.tsx
  packages/frontend/src/routes/auth/sign-up.tsx
  packages/frontend/src/routes/settings.tsx
  packages/frontend/src/utils/auth.ts
  pnpm-lock.yaml
Due: oxlint, prettier

feat: add oauth
  packages/backend/src/appRouter.ts
  packages/backend/src/config.ts
  packages/backend/src/utils/auth.ts
  packages/frontend/src/routes/__root.tsx
  packages/frontend/src/routes/settings.tsx
Due: oxlint, prettier

fix: misc ui / config
  packages/backend/src/config.ts
  packages/backend/src/utils/auth.ts
  packages/frontend/src/routes/auth/$authView.tsx
  packages/frontend/src/routes/auth/reset-password.tsx
  packages/frontend/src/routes/auth/sign-in.tsx
  packages/frontend/src/routes/auth/sign-up.tsx
Due: oxlint, prettier

fix: config type
  packages/backend/src/config.ts
Due: oxlint, prettier

feat: add webauthn conditional autocomplete
  patches/@daveyplate__better-auth-ui.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: remove unnecessary vscode ext
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: prettier

fix: add isConditionalMediationAvailable + check
  packages/frontend/src/routes/auth/sign-in.tsx
Due: oxlint, prettier

fix: passkey login router invalidation
  packages/frontend/src/routes/auth/sign-in.tsx
Due: oxlint, prettier

ci: use trivial password hash for tests
  packages/backend/package.json
  packages/backend/src/config.ts
  packages/backend/src/service/user/utils.ts
  packages/backend/src/utils/auth.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxlint, prettier

fix: use query cache in router beforeLoad too
  packages/frontend/src/api/TrpcProvider.tsx
  packages/frontend/src/main.tsx
Due: oxlint, prettier

chore: clean up knip
  knip.jsonc
  packages/backend/package.json
  packages/frontend/package.json
  pnpm-lock.yaml
Due: prettier

fix: type issues
  package.json
  packages/backend/package.json
  packages/backend/src/appRouter.ts
  packages/backend/src/utils/auth.ts
  packages/e2e/package.json
  packages/frontend/package.json
  pnpm-lock.yaml
Due: oxlint, prettier

fix: misc styles
  packages/frontend/src/components/transactions/data-table-toolbar.tsx
  packages/frontend/src/components/ui/data-table-view-options.tsx
Due: oxlint, prettier

ux: default to preferred currency in forms
  packages/frontend/src/components/group-sheets/TransactionForm.tsx
  packages/frontend/src/components/personal-sheets/CreatePersonalTransactionDialog.tsx
Due: oxlint, prettier

chore: simplify lint
  .vscode/settings.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier

chore: use react-trace
  packages/frontend/package.json
  packages/frontend/src/routes/__root.tsx
  packages/frontend/vite.config.ts
  pnpm-lock.yaml
Due: oxlint, prettier

feat: editing group transactions
  packages/backend/src/service/transaction/TransactionService.ts
  packages/backend/src/service/transaction/transactionRouter.test.ts
  packages/backend/src/service/transaction/transactionRouter.ts
  packages/e2e/tests/transaction.spec.ts
  packages/frontend/src/components/ErrorBoundary.tsx
  packages/frontend/src/components/form/ResponsiveDialog.tsx
  packages/frontend/src/components/group-sheets/SplitsFormSection.tsx
  packages/frontend/src/components/group-sheets/TransactionForm.tsx
  packages/frontend/src/components/group-sheets/transaction-form/formSchema.ts
  packages/frontend/src/components/personal-sheets/EditPersonalTransactionForm.tsx
  packages/frontend/src/components/transactions/data-table-row-actions.tsx
  packages/shared/src/types/transaction.ts
Due: oxlint, prettier

fix: invalidation
  packages/frontend/src/components/group-sheets/TransactionForm.tsx
  packages/frontend/src/components/personal-sheets/EditPersonalTransactionForm.tsx
  packages/frontend/src/components/transactions/data-table-row-actions.tsx
Due: oxlint, prettier

fix: playwright test
  packages/e2e/tests/transaction.spec.ts
Due: oxlint, prettier

feat: updated transaction notifications
  packages/backend/src/service/transaction/notification-mappers.ts
  packages/backend/src/service/transaction/transaction-service.test.ts
  packages/backend/src/service/transaction/transaction-service.ts
  packages/frontend/src/sw.ts
  packages/shared/src/types/notification.ts
Due: oxlint, prettier

feat: use notification ID tags to update notifications
  packages/frontend/src/sw.ts
Due: oxlint, prettier

feat: haptics
  packages/frontend/package.json
  packages/frontend/src/components/expenses/quick-create-transaction-fab.tsx
  packages/frontend/src/components/floating-action-button.tsx
  packages/frontend/src/components/form/confirm-dialog.tsx
  packages/frontend/src/components/form/toggle-button-group.tsx
  packages/frontend/src/components/group-sheets/add-member-button.tsx
  packages/frontend/src/components/group-sheets/balance-summary.tsx
  packages/frontend/src/components/group-sheets/create-group-form.tsx
  packages/frontend/src/components/group-sheets/transaction-form.tsx
  packages/frontend/src/components/personal-sheets/create-personal-transaction-dialog.tsx
  packages/frontend/src/components/personal-sheets/create-sheet-form.tsx
  packages/frontend/src/components/personal-sheets/edit-personal-transaction-form.tsx
  packages/frontend/src/components/sheets-list.tsx
  packages/frontend/src/components/transactions/data-table-row-actions.tsx
  packages/frontend/src/init.ts
  packages/frontend/src/pages/root.tsx
  pnpm-lock.yaml
Due: oxlint, prettier

chore: update all
  package.json
  packages/backend/package.json
  packages/backend/prisma/migrations/20260307094125_add_better_auth/migration.sql
  packages/backend/prisma/migrations/20260307211048_add_passkey_table/migration.sql
  packages/e2e/package.json
  packages/frontend/package.json
  pnpm-lock.yaml
Due: prettier

build!: use tanstack start
  .gitignore
  .vscode/settings.json
  compose.yml
  infra/Caddyfile
  infra/Dockerfile-backend
  infra/Dockerfile-frontend
  infra/traefik/headers.yml
  knip.jsonc
  package.json
  packages/e2e/tests/transaction.spec.ts
  packages/e2e/utils/test.ts
  packages/frontend/bin/generate-sw.ts
  packages/frontend/index.html
  packages/frontend/package.json
  packages/frontend/src/client.tsx
  packages/frontend/src/components/react-trace.tsx
  packages/frontend/src/main.css
  packages/frontend/src/register-sw.tsx
  packages/frontend/src/routeTree.gen.ts
  packages/frontend/src/router.tsx
  packages/frontend/src/routes/__root.tsx
  packages/frontend/src/routes/_auth/index.tsx
  packages/frontend/src/routes/_auth/stats.tsx
  packages/frontend/src/routes/api/$.ts
  packages/frontend/src/routes/auth/reset-password.tsx
  packages/frontend/src/routes/settings.tsx
  packages/frontend/src/server.ts
  packages/frontend/src/state/theme.ts
  packages/frontend/src/sw.ts
  packages/frontend/src/tailwind.css
  packages/frontend/src/utils/get-api-base-url.ts
  packages/frontend/src/utils/hooks/use-notification-permission.ts
  packages/frontend/src/vite-env.d.ts
  packages/frontend/vite.config.ts
  packages/shared/src/types/notification.ts
  packages/shared/src/types/transaction.ts
  pnpm-lock.yaml
Due: oxlint, prettier, hadolint

perf: use httpLink
  packages/backend/bin/demo.ts
  packages/e2e/utils/test.ts
  packages/frontend/src/router.tsx
Due: oxlint, prettier
