Repository nihalgonsalves/expenses: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, hadolint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx,mjs,mts,cjs,cts}"
      run: node_modules/.bin/eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{js,ts,jsx,tsx,mjs,mts,cjs,cts,html,css,json,md,yml,yaml,sql}"
      run: node_modules/.bin/prettier --write {staged_files}
      stage_fixed: true
    hadolint:
      glob: "**/Dockerfile*"
      run: hadolint {staged_files}

chore: upgrade prisma v7
  .github/workflows/build.yml
  .gitignore
  packages/backend/package.json
  packages/backend/prisma.config.ts
  packages/backend/prisma/schema.prisma
  packages/backend/src/app.ts
  packages/backend/src/config.ts
  packages/backend/src/context.ts
  packages/backend/src/create-prisma.ts
  packages/backend/src/service/notification/NotificationDispatchWorker.ts
  packages/backend/src/service/notification/NotificationService.ts
  packages/backend/src/service/sheet/SheetService.ts
  packages/backend/src/service/sheet/sheetRouter.test.ts
  packages/backend/src/service/sheet/sheetRouter.ts
  packages/backend/src/service/transaction/TransactionScheduleWorker.ts
  packages/backend/src/service/transaction/TransactionService.ts
  packages/backend/src/service/transaction/notificationMappers.ts
  packages/backend/src/service/transaction/prismaMappers.ts
  packages/backend/src/service/transaction/rruleUtils.ts
  packages/backend/src/service/transaction/transactionRouter.test.ts
  packages/backend/src/service/user/UserService.ts
  packages/backend/src/service/user/userRouter.test.ts
  packages/backend/src/startWorkers.ts
  packages/backend/test/factories.ts
  packages/backend/test/getPrisma.ts
  yarn.lock
Due: eslint, prettier

chore: use exact versions
  package.json
  packages/backend/package.json
  packages/e2e/package.json
  packages/frontend/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier

chore: build fixes
  .github/workflows/build.yml
  knip.jsonc
  package.json
  packages/backend/bin/prepare-local-env.js
  packages/backend/prisma.config.ts
  packages/backend/src/config.ts
Due: eslint, prettier

fix: iOS / Safari 26 theme color support
  packages/frontend/src/pages/Root.tsx
  packages/frontend/src/state/theme.ts
Due: eslint, prettier

refactor: drop PWA png support (iOS/Safari <26)
  packages/backend/src/pwaRouter.ts
  packages/frontend/bin/generateAssets.tsx
  packages/frontend/package.json
  packages/frontend/public/assets/icon-blue.png
  packages/frontend/public/assets/icon-green.png
  packages/frontend/public/assets/icon-orange.png
  packages/frontend/public/assets/icon-rose.png
  packages/frontend/public/assets/icon-slate.png
  packages/frontend/public/assets/icon-violet.png
  packages/frontend/public/assets/icon-yellow.png
  yarn.lock
Due: eslint, prettier

chore: also remove rel-icon-png
  packages/frontend/index.html
  packages/frontend/src/state/theme.ts
Due: eslint, prettier

chore: also remove mask-icon rel
  packages/frontend/index.html
Due: prettier

test: improve testcontainer setup
  packages/backend/test/getPrisma.ts
  packages/backend/test/getRedis.ts
  packages/backend/test/globalSetup.ts
  packages/backend/vitest.config.ts
Due: eslint, prettier

chore: remove --experimental-strip-types
  packages/backend/package.json
Due: prettier

ux: use new combobox
  packages/e2e/tests/transaction.spec.ts
  packages/frontend/package.json
  packages/frontend/src/components/form/CategorySelect.tsx
  packages/frontend/src/components/form/CurrencySelect.tsx
  packages/frontend/src/components/group-sheets/TransactionForm.tsx
  packages/frontend/src/components/personal-sheets/CreatePersonalTransactionDialog.tsx
  packages/frontend/src/components/personal-sheets/EditPersonalTransactionForm.tsx
  packages/frontend/src/components/settings/AppearanceForm.tsx
  packages/frontend/src/components/ui/combobox.tsx
  yarn.lock
Due: eslint, prettier

build: use vite v8 beta, tsc native (tsgo) preview
  package.json
  packages/frontend/package.json
  yarn.lock
Due: prettier

chore: upgrade dexie-react-hooks@v4
  packages/frontend/package.json
  yarn.lock
Due: prettier

chore: upgrade @hookform/resolvers@v5
  packages/frontend/package.json
  packages/frontend/src/components/ResetPasswordForm.tsx
  packages/frontend/src/components/SignInForm.tsx
  packages/frontend/src/components/SignUpForm.tsx
  packages/frontend/src/components/group-sheets/AddMemberButton.tsx
  packages/frontend/src/components/group-sheets/CreateGroupForm.tsx
  packages/frontend/src/components/group-sheets/GroupSheetFormSection.tsx
  packages/frontend/src/components/group-sheets/SettlementForm.tsx
  packages/frontend/src/components/group-sheets/TransactionForm.tsx
  packages/frontend/src/components/personal-sheets/CreatePersonalTransactionDialog.tsx
  packages/frontend/src/components/personal-sheets/CreateSheetForm.tsx
  packages/frontend/src/components/personal-sheets/EditPersonalTransactionForm.tsx
  packages/frontend/src/components/personal-sheets/PersonalSheetFormSection.tsx
  packages/frontend/src/components/settings/NotificationPreferenceForm.tsx
  packages/frontend/src/components/settings/ProfileForm.tsx
  packages/frontend/src/components/ui/form.stories.tsx
  yarn.lock
Due: eslint, prettier

chore: upgrade remaining minor
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: prettier

chore: upgrade react-day-picker
  .github/dependabot.yml
  packages/frontend/package.json
  packages/frontend/src/components/ui/calendar.tsx
  yarn.lock
Due: eslint, prettier

chore: tsc fixes
  .vscode/settings.json
  packages/backend/src/appRouter.ts
Due: eslint, prettier

chore: upgrade storybook test addon
  .github/workflows/build.yml
  packages/backend/vitest.config.ts
  packages/frontend/.storybook/main.ts
  packages/frontend/.storybook/vitest.setup.ts
  packages/frontend/package.json
  packages/frontend/tsconfig.json
  packages/frontend/vitest.config.ts
  packages/frontend/vitest.shims.d.ts
  yarn.lock
Due: eslint, prettier

chore: use pnpm
  .devcontainer/devcontainer.json
  .dockerignore
  .github/workflows/build.yml
  README.md
  deploy.sh
  infra/Dockerfile-backend
  infra/Dockerfile-frontend
  knip.jsonc
  lefthook.yml
  package.json
  packages/backend/package.json
  packages/backend/test/getPrisma.ts
  packages/e2e/package.json
  packages/e2e/playwright.config.ts
  packages/frontend/bin/generateAssets.tsx
  packages/frontend/package.json
  packages/frontend/public/assets/icon-maskable-blue.svg
  packages/frontend/public/assets/icon-maskable-green.svg
  packages/frontend/public/assets/icon-maskable-orange.svg
  packages/frontend/public/assets/icon-maskable-rose.svg
  packages/frontend/public/assets/icon-maskable-slate.svg
  packages/frontend/public/assets/icon-maskable-violet.svg
  packages/frontend/public/assets/icon-maskable-yellow.svg
  packages/frontend/public/assets/icon-normal-blue.svg
  packages/frontend/public/assets/icon-normal-green.svg
  packages/frontend/public/assets/icon-normal-orange.svg
  packages/frontend/public/assets/icon-normal-rose.svg
  packages/frontend/public/assets/icon-normal-slate.svg
  packages/frontend/public/assets/icon-normal-violet.svg
  packages/frontend/public/assets/icon-normal-yellow.svg
  packages/frontend/src/components/ui/combobox.tsx
  patches/sonner.patch
  patches/vaul.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: eslint, prettier, hadolint

ui: setup shadcn base-ui
  eslint.config.js
  packages/frontend/components.json
  packages/frontend/package.json
  packages/frontend/src/components/ui/switch.tsx
  packages/frontend/src/tailwind.css
  packages/frontend/tsconfig.json
  packages/frontend/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, prettier

chore: pnpm strict
  .prettierignore
  package.json
  pnpm-workspace.yaml
Due: prettier

chore: upgrade storybook test addon
  .github/workflows/build.yml
  packages/backend/vitest.config.ts
  packages/frontend/.storybook/main.ts
  packages/frontend/.storybook/vitest.setup.ts
  packages/frontend/package.json
  packages/frontend/tsconfig.json
  packages/frontend/vitest.config.ts
  packages/frontend/vitest.shims.d.ts
  pnpm-lock.yaml
Due: eslint, prettier

fix: theme color background effect
  packages/frontend/src/components/ui/drawer.tsx
  packages/frontend/src/state/theme.ts
Due: eslint, prettier

fix(drawer): use a dialog to side-step iOS keyboard issues
  packages/frontend/package.json
  packages/frontend/src/components/form/ResponsiveDialog.tsx
  packages/frontend/src/components/ui/drawer.stories.tsx
  packages/frontend/src/components/ui/drawer.tsx
  packages/frontend/src/main.css
  patches/vaul-base.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, prettier

chore: fix setup instructions/helpers
  README.md
  packages/backend/bin/prepare-local-env.js
  packages/backend/package.json
  packages/frontend/src/routeTree.gen.ts
Due: eslint, prettier

fix: knip
  knip.jsonc
Due: none

fix: dialog max height
  packages/frontend/src/components/form/ResponsiveDialog.tsx
Due: eslint, prettier

chore: replace ssr-unfriendly react-use with @mantine/hooks
  packages/frontend/package.json
  packages/frontend/src/pages/Root.tsx
  packages/frontend/src/state/theme.ts
  packages/frontend/src/state/useNavigatorOnLine.ts
  packages/frontend/src/utils/hooks/useBreakpoint.ts
  pnpm-lock.yaml
Due: eslint, prettier

refactor: use loader tanstack query pattern
  eslint.config.js
  package.json
  packages/frontend/package.json
  packages/frontend/src/api/TrpcProvider.tsx
  packages/frontend/src/api/trpc.ts
  packages/frontend/src/main.tsx
  packages/frontend/src/routes/__root.tsx
  packages/frontend/src/routes/_auth.tsx
  packages/frontend/src/routes/_auth/groups/$sheetId.tsx
  packages/frontend/src/routes/_auth/index.tsx
  packages/frontend/src/routes/_auth/sheets/$sheetId.import.tsx
  packages/frontend/src/routes/_auth/sheets/$sheetId.tsx
  packages/frontend/src/routes/_auth/sheets/index.tsx
  packages/frontend/src/routes/_auth/stats.tsx
  packages/frontend/src/routes/auth/reset-password.tsx
  packages/frontend/src/routes/auth/sign-in.tsx
  packages/frontend/src/routes/auth/sign-up.tsx
  packages/frontend/src/routes/auth/verify-email.tsx
  packages/frontend/src/routes/settings.tsx
  pnpm-lock.yaml
Due: eslint, prettier

refactor: use route context for auth
  eslint.config.js
  packages/frontend/src/api/useCacheReset.ts
  packages/frontend/src/api/useCurrentUser.ts
  packages/frontend/src/api/usePrefetchQueries.ts
  packages/frontend/src/components/NavBarAvatar.tsx
  packages/frontend/src/components/group-sheets/CreateGroupSheetTransactionDialog.tsx
  packages/frontend/src/components/transactions/columns.tsx
  packages/frontend/src/main.tsx
  packages/frontend/src/routes/__root.tsx
  packages/frontend/src/routes/_auth.tsx
  packages/frontend/src/routes/_auth/groups/$sheetId.tsx
  packages/frontend/src/routes/auth/sign-in.tsx
  packages/frontend/src/routes/auth/sign-up.tsx
  packages/frontend/src/routes/settings.tsx
  packages/frontend/src/state/theme.ts
Due: eslint, prettier

fix: profile invalidation
  packages/frontend/src/api/useCacheReset.ts
  packages/frontend/src/api/useInvalidateRouter.ts
  packages/frontend/src/api/useResetCache.ts
  packages/frontend/src/components/ErrorBoundary.tsx
  packages/frontend/src/components/NavBarAvatar.tsx
  packages/frontend/src/components/SignInForm.tsx
  packages/frontend/src/components/SignUpForm.tsx
  packages/frontend/src/components/VerifyEmailForm.tsx
  packages/frontend/src/components/settings/PrivacyForm.tsx
  packages/frontend/src/components/settings/ProfileForm.tsx
  packages/frontend/src/components/settings/TroubleshootingForm.tsx
  packages/frontend/src/routes/__root.tsx
  packages/frontend/src/state/theme.ts
Due: eslint, prettier

chore: migrate from dexie to localspace
  packages/frontend/package.json
  packages/frontend/src/api/TrpcProvider.tsx
  packages/frontend/src/config.ts
  packages/frontend/src/routes/_auth/sheets/$sheetId.import.tsx
  packages/frontend/src/state/preferences.ts
  packages/frontend/src/state/prefsDb.ts
  packages/frontend/src/state/prefsDexie.ts
  packages/frontend/src/state/queryCache.ts
  packages/frontend/src/state/theme.ts
  packages/frontend/src/sw.ts
  pnpm-lock.yaml
Due: eslint, prettier

fix: flakey backend test
  packages/shared/src/money.ts
Due: eslint, prettier

refactor: misc cleanup
  packages/backend/src/context.ts
  packages/frontend/src/components/ErrorBoundary.tsx
  packages/frontend/src/components/settings/TroubleshootingForm.tsx
  packages/frontend/src/utils/hooks/useIsStandalone.ts
Due: eslint, prettier

chore: bump again
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, prettier

fix: crash when CurrencySelect is empty
  packages/frontend/src/components/form/CurrencySelect.tsx
  packages/frontend/src/components/group-sheets/TransactionForm.tsx
  packages/frontend/src/components/personal-sheets/CreatePersonalTransactionDialog.tsx
  packages/frontend/src/components/personal-sheets/EditPersonalTransactionForm.tsx
Due: eslint, prettier

fix: crash when CurrencySelect is empty (#338)
  packages/frontend/src/components/form/CurrencySelect.tsx
  packages/frontend/src/components/group-sheets/TransactionForm.tsx
  packages/frontend/src/components/personal-sheets/CreatePersonalTransactionDialog.tsx
  packages/frontend/src/components/personal-sheets/EditPersonalTransactionForm.tsx
Due: eslint, prettier
