Repository nihalgonsalves/expenses: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, hadolint

eslint:
  run: node_modules/.bin/eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: node_modules/.bin/prettier --write {staged_files}
  stage_fixed: true

hadolint:
  run: hadolint {staged_files}

chore(deps): update some minor deps before react 19
  packages/backend/package.json
  packages/e2e/package.json
  packages/frontend/package.json
  yarn.lock
Due: prettier

chore: move framer motion to the `motion` package
  README.md
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/api/usePullToRefresh.tsx
  packages/frontend/src/components/ExpandMoreButton.tsx
  packages/frontend/src/components/FloatingActionButton.tsx
  packages/frontend/src/components/ui/collapsible.tsx
  packages/frontend/src/components/ui/form.tsx
  packages/frontend/src/pages/Root.tsx
  packages/frontend/src/utils/motion.ts
  yarn.lock
Due: eslint, prettier

chore(deps): upgrade to react 19
  packages/backend/src/app.ts
  packages/frontend/package.json
  packages/frontend/src/api/requestExport.tsx
  packages/frontend/src/components/ui/alert-dialog.tsx
  packages/frontend/src/components/ui/collapsible.tsx
  packages/frontend/src/components/ui/command.tsx
  packages/frontend/src/components/ui/dialog.tsx
  packages/frontend/src/components/ui/drawer.tsx
  packages/frontend/src/components/ui/dropdown-menu.tsx
  packages/frontend/src/components/ui/form.tsx
  packages/frontend/src/components/ui/label.tsx
  packages/frontend/src/components/ui/navigation-menu.stories.tsx
  packages/frontend/src/components/ui/navigation-menu.tsx
  packages/frontend/src/components/ui/popover.tsx
  packages/frontend/src/components/ui/scroll-area.tsx
  packages/frontend/src/components/ui/select.tsx
  packages/frontend/src/components/ui/separator.tsx
  packages/frontend/src/components/ui/switch.tsx
  packages/frontend/src/components/ui/tabs.tsx
  packages/frontend/src/components/ui/toggle-group.tsx
  packages/frontend/src/components/ui/toggle.tsx
  packages/frontend/src/emoji-mart.d.ts
  packages/frontend/src/routes.tsx
  yarn.lock
Due: eslint, prettier

refactor: codemod forwardRef
  packages/frontend/src/components/FloatingActionButton.tsx
  packages/frontend/src/components/form/CategorySelect.tsx
  packages/frontend/src/components/form/CurrencySelect.tsx
  packages/frontend/src/components/form/Select.tsx
  packages/frontend/src/components/group-sheets/ParticipantSelect.tsx
  packages/frontend/src/components/ui/alert-dialog.tsx
  packages/frontend/src/components/ui/collapsible.tsx
  packages/frontend/src/components/ui/command.tsx
  packages/frontend/src/components/ui/dialog.tsx
  packages/frontend/src/components/ui/drawer.tsx
  packages/frontend/src/components/ui/dropdown-menu.tsx
  packages/frontend/src/components/ui/form.tsx
  packages/frontend/src/components/ui/label.tsx
  packages/frontend/src/components/ui/navigation-menu.stories.tsx
  packages/frontend/src/components/ui/navigation-menu.tsx
  packages/frontend/src/components/ui/popover.tsx
  packages/frontend/src/components/ui/scroll-area.tsx
  packages/frontend/src/components/ui/select.tsx
  packages/frontend/src/components/ui/separator.tsx
  packages/frontend/src/components/ui/switch.tsx
  packages/frontend/src/components/ui/table.tsx
  packages/frontend/src/components/ui/tabs.tsx
  packages/frontend/src/components/ui/toggle-group.tsx
  packages/frontend/src/components/ui/toggle.tsx
Due: eslint, prettier

chore(deps): update all except react/playwright
  package.json
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/e2e/package.json
  packages/frontend/package.json
  packages/shared/package.json
  yarn.lock
Due: eslint, prettier

chore(deps): update all except react/playwright (#192)
  package.json
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/e2e/package.json
  packages/frontend/package.json
  packages/shared/package.json
  yarn.lock
Due: eslint, prettier

chore(deps): upgrade to react 19
  packages/frontend/package.json
  packages/frontend/src/api/requestExport.tsx
  packages/frontend/src/components/ui/alert-dialog.tsx
  packages/frontend/src/components/ui/collapsible.tsx
  packages/frontend/src/components/ui/command.tsx
  packages/frontend/src/components/ui/dialog.tsx
  packages/frontend/src/components/ui/drawer.tsx
  packages/frontend/src/components/ui/dropdown-menu.tsx
  packages/frontend/src/components/ui/form.tsx
  packages/frontend/src/components/ui/label.tsx
  packages/frontend/src/components/ui/navigation-menu.stories.tsx
  packages/frontend/src/components/ui/navigation-menu.tsx
  packages/frontend/src/components/ui/popover.tsx
  packages/frontend/src/components/ui/scroll-area.tsx
  packages/frontend/src/components/ui/select.tsx
  packages/frontend/src/components/ui/separator.tsx
  packages/frontend/src/components/ui/switch.tsx
  packages/frontend/src/components/ui/tabs.tsx
  packages/frontend/src/components/ui/toggle-group.tsx
  packages/frontend/src/components/ui/toggle.tsx
  packages/frontend/src/emoji-mart.d.ts
  packages/frontend/src/routes.tsx
  yarn.lock
Due: eslint, prettier

chore: remove react-helmet
  packages/frontend/package.json
  packages/frontend/src/pages/Root.tsx
  yarn.lock
Due: eslint, prettier

chore(deps): update all
  package.json
  packages/backend/package.json
  packages/e2e/package.json
  packages/frontend/package.json
  packages/frontend/src/components/group-sheets/TransactionForm.tsx
  packages/frontend/src/components/personal-sheets/PersonalTransactionsImporter.tsx
  packages/shared/package.json
  yarn.lock
Due: eslint, prettier

fix: moneyfield autofocus
  packages/e2e/tests/transaction.spec.ts
  packages/frontend/src/components/form/MoneyField.tsx
Due: eslint, prettier

chore: upgrade to react 19; remove forwardRef (#189)
  packages/e2e/tests/transaction.spec.ts
  packages/frontend/package.json
  packages/frontend/src/api/requestExport.tsx
  packages/frontend/src/components/FloatingActionButton.tsx
  packages/frontend/src/components/form/CategorySelect.tsx
  packages/frontend/src/components/form/CurrencySelect.tsx
  packages/frontend/src/components/form/MoneyField.tsx
  packages/frontend/src/components/form/Select.tsx
  packages/frontend/src/components/group-sheets/ParticipantSelect.tsx
  packages/frontend/src/components/ui/alert-dialog.tsx
  packages/frontend/src/components/ui/collapsible.tsx
  packages/frontend/src/components/ui/command.tsx
  packages/frontend/src/components/ui/dialog.tsx
  packages/frontend/src/components/ui/drawer.tsx
  packages/frontend/src/components/ui/dropdown-menu.tsx
  packages/frontend/src/components/ui/form.tsx
  packages/frontend/src/components/ui/label.tsx
  packages/frontend/src/components/ui/navigation-menu.stories.tsx
  packages/frontend/src/components/ui/navigation-menu.tsx
  packages/frontend/src/components/ui/popover.tsx
  packages/frontend/src/components/ui/scroll-area.tsx
  packages/frontend/src/components/ui/select.tsx
  packages/frontend/src/components/ui/separator.tsx
  packages/frontend/src/components/ui/switch.tsx
  packages/frontend/src/components/ui/table.tsx
  packages/frontend/src/components/ui/tabs.tsx
  packages/frontend/src/components/ui/toggle-group.tsx
  packages/frontend/src/components/ui/toggle.tsx
  packages/frontend/src/emoji-mart.d.ts
  packages/frontend/src/pages/Root.tsx
  packages/frontend/src/routes.tsx
  yarn.lock
Due: eslint, prettier

chore: configure knip fully
  knip.jsonc
  package.json
  packages/backend/package.json
  packages/backend/src/utils/noop.ts
  packages/frontend/package.json
  packages/frontend/src/utils/motion.ts
  yarn.lock
Due: eslint, prettier

chore: upgrade all
  package.json
  packages/backend/package.json
  packages/e2e/package.json
  packages/frontend/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier

choe: upgrade major prisma, dexie, motion
  .github/dependabot.yml
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/src/state/prefsDexie.ts
  packages/frontend/src/state/queryCache.ts
  yarn.lock
Due: eslint, prettier

chore: upgrade playwright v1.50.0
  .github/workflows/build.yml
  packages/e2e/package.json
  packages/frontend/src/components/ui/date-range-picker.tsx
  packages/frontend/src/utils/temporal.ts
  packages/frontend/src/utils/utils.ts
  yarn.lock
Due: eslint, prettier

chore: upgrade playwright v1.50.0 (#201)
  .github/workflows/build.yml
  packages/e2e/package.json
  packages/frontend/src/components/ui/date-range-picker.tsx
  packages/frontend/src/utils/temporal.ts
  packages/frontend/src/utils/utils.ts
  yarn.lock
Due: eslint, prettier

chore: skip @playwright/test in dependabot grouped
  .github/dependabot.yml
Due: prettier

chore: dedupe
  yarn.lock
Due: none

perf: add react compiler
  packages/frontend/package.json
  packages/frontend/vite.config.ts
  yarn.lock
Due: eslint, prettier

chore: remove always-enabled prisma omitApi feat
  packages/backend/prisma/schema.prisma
Due: none

chore: update all
  .github/workflows/build.yml
  package.json
  packages/backend/package.json
  packages/e2e/package.json
  packages/frontend/package.json
  yarn.lock
Due: prettier

chore: update devcontainer extensions
  .devcontainer/devcontainer.json
Due: prettier

revert(perf): add react compiler
  packages/frontend/package.json
  packages/frontend/vite.config.ts
  yarn.lock
Due: eslint, prettier

fix: remove broken chromatic playwright package
  .github/workflows/build.yml
  packages/e2e/package.json
  packages/e2e/playwright.config.ts
  packages/e2e/tests/sheet.spec.ts
  packages/e2e/tests/transaction.spec.ts
  packages/e2e/utils/test.ts
  yarn.lock
Due: eslint, prettier

chore: upgrade to tailwind v4
  knip.jsonc
  packages/frontend/package.json
  packages/frontend/postcss.config.js
  packages/frontend/src/App.tsx
  packages/frontend/src/api/useOffLineToaster.ts
  packages/frontend/src/components/CategoryStats.tsx
  packages/frontend/src/components/FloatingActionButton.tsx
  packages/frontend/src/components/form/CategorySelect.tsx
  packages/frontend/src/components/form/CurrencySelect.tsx
  packages/frontend/src/components/form/ResponsiveDialog.tsx
  packages/frontend/src/components/group-sheets/BalanceSummary.tsx
  packages/frontend/src/components/group-sheets/TransactionForm.tsx
  packages/frontend/src/components/settings/NotificationPreferenceForm.tsx
  packages/frontend/src/components/ui/alert-dialog.tsx
  packages/frontend/src/components/ui/badge.tsx
  packages/frontend/src/components/ui/button.tsx
  packages/frontend/src/components/ui/circular-progress.tsx
  packages/frontend/src/components/ui/collapsible.stories.tsx
  packages/frontend/src/components/ui/command.tsx
  packages/frontend/src/components/ui/date-input.tsx
  packages/frontend/src/components/ui/date-range-picker.tsx
  packages/frontend/src/components/ui/dialog.tsx
  packages/frontend/src/components/ui/dropdown-menu.tsx
  packages/frontend/src/components/ui/input.tsx
  packages/frontend/src/components/ui/navigation-menu.stories.tsx
  packages/frontend/src/components/ui/navigation-menu.tsx
  packages/frontend/src/components/ui/popover.tsx
  packages/frontend/src/components/ui/scroll-area.stories.tsx
  packages/frontend/src/components/ui/scroll-area.tsx
  packages/frontend/src/components/ui/select.tsx
  packages/frontend/src/components/ui/separator.stories.tsx
  packages/frontend/src/components/ui/switch.tsx
  packages/frontend/src/components/ui/table.tsx
  packages/frontend/src/components/ui/tabs.tsx
  packages/frontend/src/components/ui/toggle.tsx
  packages/frontend/src/tailwind.css
  packages/frontend/src/utils/hooks/useBreakpoint.ts
  packages/frontend/tailwind.config.js
  packages/frontend/vite.config.ts
  yarn.lock
Due: eslint, prettier

refactor: turn on erasableSyntaxOnly
  .vscode/settings.json
  package.json
  packages/backend/src/service/frankfurter/FrankfurterService.ts
  packages/backend/src/service/notification/NotificationDispatchWorker.ts
  packages/backend/src/service/notification/NotificationService.ts
  packages/backend/src/service/sheet/SheetService.ts
  packages/backend/src/service/transaction/TransactionScheduleWorker.ts
  packages/backend/src/service/transaction/TransactionService.ts
  packages/backend/src/service/user/UserService.ts
  packages/frontend/src/components/group-sheets/TransactionForm.tsx
  packages/frontend/src/components/personal-sheets/PersonalTransactionsImporter.tsx
  tsconfig.base.json
  yarn.lock
Due: eslint, prettier

chore: replace tsx where possible
  packages/backend/package.json
  yarn.lock
Due: prettier

fix: lint
  knip.jsonc
Due: none

o11y: add more sentry integrations
  infra/traefik/headers.yml
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/frontend/src/App.tsx
  packages/frontend/vite.config.ts
  yarn.lock
Due: eslint, prettier

chore: add COREPACK_ENABLE_DOWNLOAD_PROMPT
  infra/Dockerfile-backend
  infra/Dockerfile-frontend
Due: hadolint

fix: lint
  infra/traefik/headers.yml
Due: prettier

feat(dev): add sentry spotlight
  packages/backend/src/app.ts
  packages/frontend/package.json
  packages/frontend/vite.config.ts
  yarn.lock
Due: eslint, prettier

ci: use built fe for e2e tests
  package.json
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,mjs,mts,cjs,cts}
  prettier: any of: *.{js,ts,jsx,tsx,mjs,mts,cjs,cts,html,css,json,md,yml,yaml,sql}
  hadolint: any of: **/Dockerfile*
